[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "src/resources"]
	path = src/resources
	url = git://github.com/Komodo/Komodo-Resources.git
