[submodule "puppet/modules/git"]
	path = puppet/modules/git
	url = https://github.com/puppetlabs/puppetlabs-git.git
[submodule "puppet/modules/nodejs"]
	path = puppet/modules/nodejs
	url = git://github.com/willdurand/puppet-nodejs.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/wget"]
	path = puppet/modules/wget
	url = git://github.com/maestrodev/puppet-wget.git
[submodule "src/resources"]
	path = src/resources
	url = git://github.com/Komodo/Komodo-Resources.git
[submodule "puppet/modules/make"]
	path = puppet/modules/make
	url = https://github.com/Element84/puppet-make.git
