$color-base-text:           #3D3D3D;
$color-base-background:     #FFFFFF;
$color-base-link:           #3086B5;
$color-base-link-hover:     darken($color-base-link, 10%);
$color-base-link-block:     rgba(0,0,0,0.3);
$color-base-link-block-hover: $color-base-link-hover;
$color-base-important:      #2A9AD6;

$color-footer-text:         #CECECE;
$color-footer-link:         #9CBDCE;
$color-footer-background:   #27363D;

$color-header-base:         #cacaca;
$color-header-background:   #1B3A49;
$color-header-textheading:  #f4f4f4;
$color-header-nav-link:     rgba(255,255,255,0.9);
$color-header-nav-link-hover:rgba(255,255,255,1);
$color-header-link:         #9CBDCE;
$color-header-link-hover:   lighten($color-header-link, 10%);

$color-forum-header-link:         #67B5AF;
$color-forum-header-link-hover:   lighten($color-header-link, 10%);

$color-shadow-highlight:    #4b8482;

$color-github-ribbon:       #338C87;

@mixin gradient-green
{
    background: #3086B5;
}

@mixin gradient-grey
{
    background: rgba(90,90,90,1);
}


