$font-base: "Open Sans", sans-serif;
$font-header-nav: "Open Sans", sans-serif;
$font-impact: "Open Sans", sans serif;
$font-mono: Monaco, Consolas, "Lucida Console", monospace;

*
{
    /* Fix bold looking text on OSX */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%button
{
    font-size: 9.5pt;
    font-weight: bold;
    padding: 8px;
    color: #FFF;
    border: 0;
    cursor: pointer;
    display: inline-block;
    @include transition(box-shadow 0.1s ease-in-out, color 0.2s ease-in-out);
    border-radius: 2px;
    text-align: center;

    &:hover
    {
        box-shadow: inset 0 0 0 500px rgba(0,0,0,0.1);
        text-decoration: none;
    }

    &.big
    {
        font-family: $font-impact;
        font-size: 14pt;
        padding: 15px 20px;
    }

    &.small
    {
        padding: 4px;
    }
    &[disabled],
    &.disabled
    {
        opacity: 0.5;
        cursor: default;
    }
}

%button-green
{
    @extend %button;
    @include gradient-green;
}

%button-grey
{
    @extend %button;
    @include gradient-grey;
}

%textured-box-bare
{
    text-align: center;
    border-radius: 3px;
    @include radial-gradient(ellipse at bottom, rgba(74,98,102,1) 3%,rgba(31,72,94,1) 50%,rgba(7,18,22,1) 100%);

    color: #e9e9e9;
    
    h1, h2, h3
    {
        color: #e9e9e9;
    }
}

%textured-box
{
    @extend %textured-box-bare;

    ul
    {
        width: 75%;

        li
        {
            margin: 0;
            padding: 4px 0;
            display: block;
            color: #adcfce;
            font-size: 10pt;
            font-weight: 400;

            &:not(:first-child)
            {
                border-top: 1px solid rgba(255,255,255,0.1);
            }

            &:not(:last-child)
            {
                border-bottom: 1px solid rgba(0,0,0,0.3);
            }
        }
    }
}

%ellipsis
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
