.document-customize article
{
    .intro
    {
        text-align: center;

        & > img
        {
            width: 75%;
        }

        & > p
        {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .addons
    {
        @include outer-container;

        & > a
        {
            @include block-link();
            @include span-columns(2.8);
            padding: 5px;
            text-align: center;
            display: inline-block;
            height: 150px;

            &:not(.more)
            {
                color: $color-base-text;
            }

            &.more
            {
                line-height: 150px;
                vertical-align: middle;

                &:hover
                {
                    text-decoration: underline;
                }
            }

            h3
            {
                @extend %ellipsis;
                @include transition(all 0.2s ease-in-out);
            }

            figure
            {
                background-size: cover;
                width: 95%;
                height: 0;
                padding-bottom: 55%;
                margin: 0 auto 15px;
            }

            &:hover
            {
                h3
                {
                    color: $color-base-link-hover;
                }
            }
        }
    }

    .contributing
    {
        @include outer-container;

        & > div
        {
            @include span-columns(5.8);

            @include media($mobile)
            {
                @include span-columns(12);
            }
        }
    }
}
