.document-download
{
    .tabs
    {
        text-align: center;

        & > ul
        {
            margin: auto;
            max-width: 600px;
            
            li
            {
                display: inline-block;
                float: none;

                a
                {
                    padding: 0 10px;
                }
            }
        }

        & > div
        {
            margin: auto;
            max-width: 600px;
            padding-bottom: 0;
            
            &:not(:first-child)
            {
                display: none;
            }

            p:first-child
            {
                margin-top: 0;
            }

            a.button.primary
            {
                text-align: left;
                line-height: 16pt;
                
                span.os
                {
                    font-size: 12pt;
                    font-weight: 400;
                    display: block;
                }

                i
                {
                    float: left;
                    vertical-align: middle;
                    font-size: 22pt;
                    line-height: 30pt;
                    margin-right: 10px;
                }
            }

            a.button:not(.primary)
            {
                width: 240px;
                text-align: right;
                
                span.product
                {
                    display: none;
                }

                i
                {
                    float: left;
                    vertical-align: middle;
                    font-size: 14pt;
                    line-height: 14pt;
                }
            }
        }

    }

    #requirements
    {
        display: none;
    }
}

html.no-js .download-unlocker.enabled,
.download-unlocker.disabled
{
    #download
    {
        display: block;
    }

    #download-unlock
    {
        display: none;
    }
}

html:not(.no-js) .download-unlocker.enabled
{
    text-align: center;
    
    form
    {
        margin: auto;
    }

    #download
    {
        display: none;
    }

    #download-unlock
    {
        display: block;
    }

    .fb-follow
    {
        @include transform(scale(1.5));
        margin-left: 25px;
    }

    &.unlocked
    {
        .download-locked
        {
            display: none !important;
        }

        .download-unlocked
        {
            display: block !important;
        }
    }
}
