.document-komodo-edit article
{
    text-align: center;

    #splash
    {
        margin-top: 25px;
        margin-bottom: -25px;
        
        @include outer-container;
        
        @include media(min-width 1100px)
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #screenshot
        {
            @include span-columns(7);
            
            img
            {
                width: 95%;
            }
        }
        
        #buttons
        {
            @include outer-container;
            @include span-columns(5);
            
            & > div
            {
                padding: 0 10px;
                
                .text
                {
                    height: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    p
                    {
                        margin: 0;
                    }
                    
                    ul
                    {
                        margin: 4px 0;
                        padding: 0;
                        
                        li:before
                        {
                            content: " - ";
                        }
                    }
                }
            }
            
            .button + strong
            {
                display: block;
                margin-top: 10px;
                margin-bottom: 10px;
                font-style: italic;
            }
            
            #edit-button
            {
                @include span-columns(5);
                
                .text
                {
                    font-size: 0.9rem;
                }
                
                .button
                {
                    padding: 10px;
                    margin: 5px;
                    font-size: 12pt;
                    
                    i
                    {
                        font-size: 12pt;
                    }
                }
            }
            
            #ide-button
            {
                @include span-columns(7);
                
                background: #EDF6FF;
                border-radius: 2px;
            }
        }
        
        @include media(max-width 1100px)
        {
            #screenshot, #buttons
            {
                @include span-columns(12);
            }
        }
        
    }

    & > img
    {
        width: 95%;
    }

    .comparison
    {
        margin-top: 50px;
        
        & > h2
        {
            text-align: left;
        }

        & > a
        {
            float: right;
            margin-top: -33px;
        }

        table
        {
            display: table;
            width: 100%;
            font-size: 1.2rem;

            tr, th, td
            {
                border: 0;
            }

            tbody th
            {
                font-weight: 400;
            }

            tbody th, tbody td
            {
                padding: 4px 8px;
            }

            thead, td
            {
                text-align: center;
            }

            thead th
            {
                white-space: nowrap;
                text-align: center;
            }
            
            thead th:first-child,
            td:first-child
            {
                text-align: left;
            }

            td:not(:first-child)
            {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }
    
}
