.document-komodo-edit article
{
    text-align: center;

    & > img
    {
        width: 95%;
    }

    p a.button
    {
        font-family: $font-impact;
        font-size: 14pt;
        text-transform: uppercase;
        letter-spacing: -1px;
        
        i
        {
            vertical-align: middle;
            font-size: 22pt;
            margin-right: 7px;
        }
    }

    .comparison
    {
        margin-top: 50px;
        
        & > h2
        {
            text-align: left;
        }

        & > a
        {
            float: right;
            margin-top: -33px;
        }

        table
        {
            display: table;
            width: 100%;
            font-size: 1.2rem;

            tr, th, td
            {
                border: 0;
            }

            tbody th
            {
                font-weight: 400;
            }

            tbody th, tbody td
            {
                padding: 4px 8px;
            }

            thead, td
            {
                text-align: center;
            }

            thead th
            {
                white-space: nowrap;
                text-align: center;
            }
            
            thead th:first-child,
            td:first-child
            {
                text-align: left;
            }

            td:not(:first-child)
            {
                font-size: 1.8rem;
                font-weight: bold;
            }
        }
    }
    
}
