.document-features
{
    .article-wrapper
    {
        @include media(min-width $tablet-size)
        {
            padding-left: 300px !important;
        }
        
        position: relative;
    }
    
    .title
    {
        margin-bottom: 35px;
        
        h3
        {
            margin-top: 10px;
        }
        
        h1
        {
            font-size: 48px;
            font-weight: normal;
            margin: 10px 0 10px;
        }
    }
    
    .groups
    {
        & > div
        {
            margin-top: 25px;
            padding-bottom: 25px;
            
            &:not(:last-child)
            {
                border-bottom: 1px solid lighten($color-base-text, 40%);
            }
        }
        
        .head
        {
            margin: 0 auto 25px;
            text-align: center;
            
            & > .icon
            {
                font-size: 48px;
            }
            
            h2
            {
                font-size: 36px;
                font-weight: normal;
                margin: 10px 0 10px;
            }
            
            p
            {
                color: lighten($color-base-text, 20%);
                font-size: 24px;
                margin: 0;
            }
        }
        
        ul.features
        {
            max-width: 800px;
            margin: 0 auto;
            padding: 0;
            
            .description
            {
                color: lighten($color-base-text, 20%);
            }
            
            strong
            {
                font-weight: normal;
                font-size: 18px;
            }
            
            p
            {
                margin: 0;
            }
            
            img
            {
                max-width: 200px;
                max-height: 120px;
            }
        }
        
        :not(#new) ul.features
        {
            & > li
            {
                margin: 5px 1%;
                width: 45%;
                display: inline-block;
                text-align: center;
                vertical-align: top;
            }
        }
        
        #new ul.features
        {
            & > li
            {
                margin: 15px 0;
                padding-bottom: 15px;
                
                &:not(:last-child)
                {
                    border-bottom: 1px solid lighten($color-base-text, 60%);
                }
                
                &:nth-child(odd) img
                {
                    float: left;
                    margin-right: 15px;
                }
                
                &:nth-child(even) img
                {
                    float: right;
                    margin-left: 15px;
                }
            }
        }
    }
    
    .quick-nav
    {
        @include media(min-width $tablet-size)
        {
            position: absolute;
            top: 80px;
            left: 0;
            width: 250px;
        }
        
        @include media(max-width $tablet-size)
        {
            text-align: center;
            margin-bottom: 25px;
        }
        
        ul
        {
            margin: 0;
            padding: 0;
            
            text-transform: uppercase;
            font-size: 18px;
        }
        
        li
        {
            margin: 8px 0;
            
            a
            {
                @include link(lighten($color-base-text, 10%), $color-base-text);
            }
            
            &[selected]
            {
                font-weight: bold;
                color: 000;
                
                a
                {
                    @include link($color-base-link, $color-base-link-hover);
                }
            }
        }
        
        .try-buy-buttons
        {
            margin-top: 25px;
            
            .button
            {
                margin-bottom: 5px;
                width: 150px;
            }
        }

    }

}
