.document-features
{
    font-weight: 400;

    article > .button + h1
    {
        margin-top: 0;
    }
    
    .groups
    {
        @include outer-container;
        overflow: inherit;

        & > div
        {
            @include span-columns(5.7);

            float: none;
            display: inline-block;

            vertical-align: top;

            &:nth-child(even)
            {
                @include shift(0.5);
                margin-right: 0;
            }

            & > img
            {
                float: left;
                margin: 10px 5px 0 0;
            }

            ul
            {
                @include outer-container;
                padding: 0;
                padding-left: 4.5%;
                overflow: inherit;

                li
                {
                    @include span-columns(5.8);

                    float: none;
                    display: inline-block;

                    vertical-align: top;
                    margin-bottom: 5px;

                    a
                    {
                        cursor: default;
                    }

                    strong, p
                    {
                        display: none;
                    }
                }
            }

            div
            {
                padding-left: 4.5%;
                
                a
                {
                    border: 0;
                }

                img
                {
                    box-shadow: 0 0 6px 0 rgba(0,0,0,0);
                    
                    @include transition-property (transform, box-shadow, border);
                    @include transition-duration(0.2s, 0.2s, 0.2s);
                    @include transition-timing-function(ease-in-out);

                    border: 1px solid $color-base-link-block;
                    width: 32%;
                    max-width: 170px;

                    &:hover
                    {
                        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.15);
                        @include transform(scale(1.2));
                        border-color: $color-base-link-block-hover;
                    }
                }
            }
        }

        & > div.group-languages
        {
            img
            {
                display: none;
            }
            
            ul
            {
                a
                {
                    display: none;
                }

                strong, p
                {
                    display: block;
                }
            }
        }

        @include media($tablet)
        {
            & > div
            {
                @include span-columns(12);

                &:nth-child(even)
                {
                    @include shift(0);
                }

                ul li
                {
                    @include span-columns(4.5);
                }
            }
        }

        @include media($mobile)
        {
            & > div ul li
            {
                @include span-columns(5.8);
            }
        }

    }
    
    .assistance
    {
        top: 50px;
    }

}
