.document-resources article,
.document-resource-category article,
.document-resource article
{
    .try-buy-buttons
    {
        position: absolute;
        right: 0;
        top: 17px;
    }

}

.document-resource article
{

    img
    {
        max-width: 100%;
    }

    h1
    {
        margin-top: 0;
    }
    
    .preview
    {
        margin: 0 5px 0 0;
        img
        {
            width: 18px;
            height: 18px;
        }
    }

    .social-meta
    {
        & > a
        {
            display: inline-block;

            span
            {
                font-family: $font-mono;
                display: inline-block;
                background: rgba(0,0,0,0.5);
                padding: 4px;
                border-radius: 12px;
                font-weight: bold;
            }
        }
    }

    .details-meta
    {
        float: right;
        width: 40%;
        
        dl
        {
            margin: 0;
            
            dt, dd
            {
                float: left;
                padding: 4px 0;
            }

            dd + dt,
            dd + dd
            {
                clear: left;
            }

            dd + dd
            {
                float: none;
            }

            dt
            {
                width: 30%;
                text-transform: uppercase;
                opacity: 0.7;
            }

            dd
            {
                width: 50%;
                @extend %ellipsis;
            }
        }
    }

    .readme,
    .comments
    {
        background: rgba(255,255,255,0.9);
        padding: 10px;
        border-radius: 3px;

        &.readme pre
        {
            line-height: 1.5;
        }

        &.readme code
        {
            line-height: 1.5;
            white-space: pre-wrap;
            display: inline-block;
            padding: 2px;
        }
    }

    .download
    {
        float: left;
        width: 55%;
        
        .release-meta
        {
            margin-top: 10px;

            span
            {
                display: inline-block;
                margin-right: 15px;
            }
        }

        .files
        {
            text-align: center;
        }

        .assets > div
        {
            & > a
            {
                margin-top: 15px;
            }
        }

        .source
        {
            margin-top: 15px;
        }
    }
}

.document-resources article,
.document-resource-category article,
.document-resource article
{
    margin-top: 35px;
    
    ul.trail
    {
        position: absolute;
        width: 100%;
        top: 15px;
        left: 0;
    }
}

.document-resources article,
.document-resource-category article
{
    & > ul:not(.trail)
    {
        margin: 0;
        padding: 0;
    }

    & > ul:not(.trail) > li
    {
        padding: 10px 2px;
        border-bottom: 1px solid rgba(0,0,0,0.10);
        line-height: 2.0;

        &:nth-child(even)
        {
            background: rgba(255,255,255,0.2);
        }

        h3, p
        {
            margin: 0;
        }

        h3 .author
        {
            font-size: 11pt;

            img
            {
                vertical-align: middle;
                border-radius: 2px;
            }
        }

        p
        {
            color: lighten($color-base-text, 10%);
            @extend %ellipsis;
        }
        
        .preview
        {
            margin: 5px 15px 0 0;
            
            img
            {
                width: 48px;
                height: 48px;
            }
        }

        .meta
        {
            font-size: 14px;
            opacity: 0.8;
            min-width: 150px;

            & > span
            {
                display: inline-block;
                margin-left: 15px;

                .icon
                {
                    opacity: 0.7;
                }
            }
        }

    }
}

.document-install-instructions article,
.document-submit-instructions article
{
    text-align: center;

    .selector
    {
        .selectize-control
        {
            max-width: 500px;
            margin: 25px auto;
            font-size: 14pt;
        }
    }

    .panes,
    .selector
    {
        margin: auto;
    }

    .panes
    {
        max-width: 750px;
        text-align: left;
    }
}

.sidebar-resources
{
    margin-top: 50px;
    
    ul.categories
    {
        margin: 0;
        padding: 0;

        li h3
        {
            font-size: 13pt;
            margin: 5px 0;
        }
    }

    ul:not(.categories)
    {
        padding-left: 30px;
    }
}
