@import '../splash/header';
@import '../splash/features';
@import '../splash/addons';
@import '../splash/news';

.splash-block
{
    @include outer-container;
    margin-top: 25px;
    padding-bottom: 25px;
    
    .spaced
    {
        padding: 10px 0;
    }
}

.splash-block-background
{
    @include background-image(url(../images/layout/header-bg.png));
    background-size: 1550px 480px;
    color: $color-header-base;
    padding-top: 1px;
}

.document-index
{
    padding: 0 !important;
    
    h1
    {
        font-size: 16pt;
    }

    h2
    {
        font-size: 13pt;
    }

    h3
    {
        font-size: 12pt;
    }
}

.document-index
{
    ul
    {
        padding: 0;
        margin: 0;
    }

    p
    {
        margin: 0;
    }

    article
    {
        & > div > h1,
        .inner > h1
        {
            margin: 0 0 15px 0;
        }
    }
}

.document-php,
.document-go,
.document-perl,
.document-tcl,
.document-python,
.splash-page,
.document-web-ide
{
    padding-top: 0 !important;
    
    h2
    {
        line-height: 1.4;
    }
    
    .features
    {
        max-width: 950px;
        margin: auto;
        
        p
        {
            color: #636363;
        }
    }
    
    @include media(min-width 650px)
    {
        .left, .right
        {
            display: inline-block;
            vertical-align: top;
            width: 48%;
        }
        
        .left
        {
            margin-right: 20px;
        }
    }
}

.container-index,
.container-php,
.container-go,
.container-tcl,
.container-perl,
.container-python,
.container-web-ide
{
    header
    {
        background: transparent !important;
    }
    
    #splash-header-outer
    {
        margin-top: -75px;
        padding-top: 75px;
    }
}

.container-php,
.container-go,
.container-tcl,
.container-perl,
.container-python
{
    #splash-header
    {
        height: 750px !important;
        
        @include media(max-width 650px)
        {
            height: 800px !important;
            min-width: 480px;
        }
        
        h1
        {
            margin-bottom: 10px;
        }
        
        .quick-features
        {
            max-width: 780px;
            text-align: left;
            margin: 15px auto;
            font-size: 12pt;
            padding-left: 120px;
        }
        
        ul
        {
            @include media(min-width 650px)
            {
                display: inline-block;
                vertical-align: top;
                width: 46%;
            }
            
            padding: 0;
            
            &:first-child
            {
                margin-right: 30px;
            }
        }
        
    }
}

.container-web-ide
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/web.png);
    }
    
    #splash-description
    {
        text-align: center !important;
    }
    
    #splash-description-continued
    {
        h3
        {
            height: 48pt;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
        
        .testimonials
        {
            p
            {
                font-size: 16pt;
            }
            
            p.colored
            {
                color: #FCB315;
            }
        }
    }
    
    .splash-block .testimonials
    {
        &, li
        {
            margin: 0;
            list-style: none;
        }
        
        li
        {
            font-size: 18pt;
            margin-bottom: 25px;
        }
        
        li:nth-child(1) { padding-left: 20px; }
        li:nth-child(2) { padding-left: 80px; }
        li:nth-child(3) { padding-left: 150px; }
        li:nth-child(4) { padding-left: 30px; }
        li:nth-child(5) { padding-left: 100px; }
        li:nth-child(6) { padding-left: 70px; }
        li:nth-child(7) { padding-left: 20px; }
    }
    
    .splash-block .screenshots
    {
        float: right;
        position: relative;
        height: 450px;
        margin-left: 50px;
        
        img
        {
            width: 400px;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
        }
        
        img:nth-child(1)
        {
            margin-right: 50px;
        }
        
        img:nth-child(2)
        {
            position: absolute;
            right: 0;
            top: 110px;
        }

        img:nth-child(3)
        {
            position: absolute;
            top: 220px;
            right: 60px;
        }
    }
    
    .quick-features
    {
        margin: 15px auto;
        padding-left: 120px;
    }
}

.container-php
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/php.png);
    }
}

.container-python
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/python.png);
    }
}

.container-go
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/go.png);
    }
}

.container-perl
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/perl.png);
    }
}

.container-tcl
{
    #splash-header #splash-screenshots figure
    {
        background-image: url(../images/screenshots/splash/tcl.png);
    }
}

.container-web-ide
{
    @include media(max-height 800px)
    {
        #splash-header
        {
            overflow: inherit !important;
        }
    }
    
    .splash-ko10-tease
    {
        position: absolute;
        left: 0;
        z-index: 10;
        width: 157px;
        height: 157px;
        background-image: url(../images/misc/ko10tease.png);
        background-repeat: no-repeat;
        
        &:hover
        {
            &:after
            {
                content:'';
                z-index: 11;
                width: 157px;
                height: 157px;
                display: block;
                position: absolute;
                background: #000;
                opacity: 0.3;
                
                -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
                clip-path: polygon(0 0, 0 100%, 100% 0);
            }
        }
    }
    
    #screenshots-inner-box
    {
        position: absolute;
        z-index: 11;
        top: 100px;
        left: 50%;
        margin-left: -300px;
        width: 600px;
        color: #0A0A0A;
        background: rgba(255,255,255,0.9);
        padding: 25px;
        border-radius: 3px;
        backdrop-filter: blur(10px);
        border: 3px solid #3F8AFF;
        
        @include media(max-width 599px)
        {
            width: 400px;
            margin-left: -200px;
        }
        
        h2, p
        {
            color: #0A0A0A;
            margin-top: 0;
            margin-bottom: 10px;
        }
        
        #splash-download-wrap
        {
            margin-bottom: 0;
        }
    }
    
    #splash-download-buttons
    {
        .button
        {
            width: 300px !important;
            padding: 18px 15px 16px 15px !important;
            background: #3F8AFF !important;
            
            p { color: #FFF; }
        }
    }
    
    .quick-features ul
    {
        @include media(min-width 650px)
        {
            width: calc(33% - 30px) !important;
        }
        
        @include media(max-width 650px)
        {
            margin-left: -120px;
            
            li
            {
                display: inline;
                
                &:not(:last-child):after
                {
                    content: ", ";
                }
            }
        }
        
        padding: 0;
        
        &:not(:last-child)
        {
            margin-right: 30px !important;
        }
    }
}

.fullscreen-splash
{
    
    #splash-header
    {
        height: calc(100vh - 75px) !important;
    }
    
}