#splash-features
{
    @include outer-container;
    padding: 0 10px;
    margin-top: 25px;
    
    & > h1
    {
        font-size: 24pt;
        font-weight: 400;
        text-align: center;

        & + a
        {
            display: block;
            text-align: center;
            margin-top: -10px;
            font-weight: 300;
        }
    }

    #splash-feature-column ul
    {
        text-align: center;

        li
        {
            display: inline-block;
            vertical-align: top;
            width: 24.5%;
            text-align: center;
            margin: 15px auto;
            position: relative;

            img
            {
                border: 1px solid #C4C4C4;
                width: 242px;
                height: 122px;
            }

            h2
            {
                margin: 10px 0 5px;
                font-weight: 400;
                font-size: 15pt;
                width: 260px;
                display: block;
                margin: auto;
            }

            p
            {
                font-size: 11pt;
                width: 260px;
                display: block;
                margin: auto;
            }
            
            .badge
            {
                position: absolute;
                left: 50%;
                margin-left: 80px;
                top: 0;
                font-size: 18px;
                @include transform(rotate(25deg));
            }
        }
    }

    @include media(new-breakpoint(max-width 1050px))
    {
        #splash-feature-column ul li
        {
            width: 32%;
        }
    }

    @include media(new-breakpoint(max-width 800px))
    {
        #splash-feature-column ul li
        {
            width: 48%;
        }
    }

    @include media(new-breakpoint(max-width 520px))
    {
        #splash-feature-column ul li
        {
            width: auto;
        }
    }

}
