#splash-header-outer
{
    @include background-image(url(../images/layout/header-bg.png));
    background-size: 1550px 480px;
}

#splash-header
{
    text-align: center;
    @include outer-container;
    position: relative;

    padding: 20px 15px 20px 15px;
    
    color: $color-header-base;

    h1, h2, h3
    {
        color: $color-header-textheading;
    }

    a
    {
        @include link($color-header-link, $color-header-link-hover);
    }

    @include media($mobile)
    {
        p
        {
            font-size: 11pt !important;
        }
    }

    p
    {
        margin: 0;
        font-size: 14pt;
        font-weight: 300;
    }

    h1
    {
        font-size: 28pt;
        font-weight: 400;
        margin: 20px 0;
    }
    
    h2
    {
        font-size: 21px;
        font-weight: 400;
        margin: 30px 0 0;
    }
    
    #splash-description
    {
        margin: 30px 0 30px;

        .more
        {
            position: relative;
            cursor: default;

            span:not(.languages)
            {
                text-decoration: underline;
            }

            .languages
            {
                display: none;

                width: 400px;
                position: absolute;
                z-index: 15;
                top: 25px;
                right: 0;
                background: rgba(0,0,0,0.8);
                color: #FFF;
                padding: 10px;
                border-radius: 2px;
                font-size: 10px;
            }

            &:hover .languages
            {
                display: block;
            }
        }
    }

    @include media($tablet)
    {
        h1
        {
            font-size: 20pt;
        }
    }

    @include media($mobile)
    {
        h1
        {
            font-size: 16pt;
        }
    }

    #splash-description
    {
        text-align: center;
        
        p
        {
            margin: auto;
            width: 80%;
        }
        
        a.php
        {
            color: #8892BF;
        }
        
        a.python
        {
            color: #e6cc1a;
        }
        
        a.go
        {
            color: #86B8CC;
        }
        
        a.perl
        {
            color: #6F8ED6;
        }
        
        a.tcl
        {
            color: #81C4A2;
        }
    }

    #splash-screenshots
    {
        position: relative;
        margin-top: 15px;
        height: 800px;

        & > figure
        {
            display: block;

            width: 1280px;
            height: 800px;

            position: absolute;
            top: 0;
            z-index: 10;
            left: 50%;
            margin-left: -640px;

            background-image: url(../images/screenshots/splash/web.png);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 10;
        }
        
        & > figure.primary
        {
            width: 960px;
        }
        
        & > figure:not(.primary)
        {
            top: 0;
            position: absolute;
        }
        
        & > figure.cupertino
        {
            z-index: 9;
            background-image: url(../images/screenshots/splash/web-cupertino.png);
            width: 1040px;
        }
        
        & > figure.base16
        {
            z-index: 8;
            background-image: url(../images/screenshots/splash/web-base16.png);
            width: 1120px;
        }
        
        & > figure.redmond
        {
            z-index: 7;
            background-image: url(../images/screenshots/splash/web-redmond.png);
            width: 1200px;
        }
        
        & > figure.solarized
        {
            z-index: 6;
            background-image: url(../images/screenshots/splash/web-solarized.png);
            width: 1280px;
        }
        
        @include media(min-width 1080px max-width 1320px)
        {
            @include transform(scale(0.8));
            margin-top: -80px;
            margin-bottom: -80px;
        }
        
        @include media(min-width 810px max-width 1079px)
        {
            @include transform(scale(0.6));
            margin-top: -155px;
            margin-bottom: -155px;
        }
        
        @include media(min-width 530px max-width 809px)
        {
            @include transform(scale(0.4));
            margin-top: -240px;
            margin-bottom: -240px;
        }
        
        @include media(max-width 529px)
        {
            @include transform(scale(0.2));
            margin-top: -320px;
            margin-bottom: -320px;
        }
        
        .make-it-own
        {
            font-family: 'Kalam', cursive;
            font-size: 24px;
            position: absolute;
            top: -30px;
            right: 20px;
        }
        
        @include keyframes(border-pulse) {
            0% {
                border: 2px solid rgba(221,172,46, 0.2);
            }
            20% {
                border: 2px solid rgba(221,172,46, 0.7);
            }
            40% {
                border: 2px solid rgba(221,172,46, 0.2);
            }
            100% {
                border: 2px solid rgba(221,172,46, 0.2);
            }
        }
        
        #selectors > *
        {
            position: absolute;
            left: 50%;
            
            outline: 2px solid rgba(221,172,46, 0.0);
            outline-offset: -2px;
            border: 2px solid rgba(221,172,46, 0.2);
            border-radius: 1px;
            z-index: 11;
            cursor: pointer;
            
            animation: border-pulse 3s ease-out infinite;
            transition: outline 0.2s ease-in-out;
            
            &:hover
            {
                outline: 2px solid rgba(221,172,46, 1);
            }
            
            & > ul
            {
                display: none;
            }
            
            &#selector-sidebar
            {
                margin-left: -640px;
                top: 45px;
                width: 48px;
                height: 220px;
            }
            
            &#selector-commando
            {
                margin-left: -254px;
                top: 4px;
                width: 395px;
                height: 35px;
            }
            
            &#selector-debug
            {
                margin-left: -412px;
                top: 8px;
                width: 80px;
                height: 30px;
            }
            
            &#selector-macro
            {
                margin-left: 270px;
                top: 8px;
                width: 107px;
                height: 30px;
            }
            
            &#selector-ui
            {
                margin-left: 383px;
                top: 8px;
                width: 132px;
                height: 30px;
            }
            
            &#selector-tools
            {
                margin-left: -640px;
                bottom: 0;
                width: 48px;
                height: 160px;
            }
            
            &#selector-vcs
            {
                margin-left: -390px;
                bottom: 200px;
                width: 113px;
                height: 28px;
            }
            
            &#selector-unittesting
            {
                margin-left: -50px;
                bottom: 200px;
                width: 97px;
                height: 28px;
            }
            
            &#selector-changetracker
            {
                margin-left: -350px;
                top: 240px;
                width: 25px;
                height: 210px;
            }
            
            &#selector-multicaret
            {
                margin-left: -160px;
                top: 140px;
                width: 70px;
                height: 140px;
            }
            
            &#selector-spelling
            {
                margin-left: 110px;
                top: 270px;
                width: 75px;
                height: 30px;
            }
        }
        
    }

    /* Download Buttons */
    #splash-download-wrap
    {
        position: relative;
        margin-bottom: 30px;

        #splash-download-buttons
        {
            display: inline-block;
            position: relative;
            z-index: 10;

            a.big.button
            {
                font-family: $font-impact;
                font-size: 16pt !important;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 240px;
                cursor: pointer;
                position: relative;
                color: #FFF;
                text-decoration: none !important;
                
                i /* icon */
                {
                    vertical-align: middle;
                    font-size: 22pt;
                    color: #FFF;
                    position: absolute;
                    left: 20px;
                }

                p
                {
                    font-size: 8pt !important;
                    text-transform: lowercase;
                    letter-spacing: 0;
                }

                /* Green Button - Try Now*/
                &.primary
                {
                    @extend %button-green;
                }

                /* Override button values */
                &.primary, &
                {
                    padding: 18px 15px 16px 40px;
                    border-radius: 3px;
                }
            }

        }

        #splash-download-edit
        {
            margin-top: 10px;

            p
            {
                font-size: 10pt;

                @include media($mobile)
                {
                    font-size: 8pt !important;
                }
            }
        }

    }
    
}

.callout
{
    list-style: none;
    position: fixed;
    z-index: 110;
    width: 600px;
    height: 180px;
    background: rgb(61, 61, 61);
    color: #FFF;
    
    img
    {
        max-width: 180px;
        max-height: 180px;
        margin-right: 10px;
        float: left;
    }
    
    span
    {
        display: block;
        padding: 10px;
    }
}
