#splash-header-outer
{
    @include radial-gradient(ellipse at bottom, rgba(74,98,102,1) 400px,rgba(31,72,94,1) 700px,rgba(7,18,22,1) 100%);
}

.container-python,
.container-php
{
    #splash-header-outer
    {
        @include radial-gradient(ellipse at bottom, rgba(74,98,102,1) 200px,rgba(31,72,94,1) 500px,rgba(7,18,22,1) 100%);
    }    
}

#splash-header
{
    text-align: center;
    @include outer-container;
    position: relative;
    overflow: hidden;

    padding: 20px 15px 0 15px;
    height: 700px;
    
    color: $color-header-base;

    h1, h2, h3
    {
        color: $color-header-textheading;
    }

    a
    {
        @include link($color-header-link, $color-header-link-hover);
    }

    @include media(new-breakpoint(max-width 1600px))
    {
        padding-bottom: 55%;
        height: 0;
    }

    @include media(new-breakpoint(max-width 1400px))
    {
        height: 775px;
        padding-bottom: 0;
    }

    @include media($mobile)
    {
        height: 750px;

        p
        {
            font-size: 11pt !important;
        }
    }

    p
    {
        margin: 0;
        font-size: 14pt;
        font-weight: 300;
    }

    h1
    {
        font-size: 28pt;
        font-weight: 400;
        margin: 20px 0;

        & + div
        {
            margin: 30px 0 30px;
        }
    }

    @include media($tablet)
    {
        h1
        {
            font-size: 20pt;
        }
    }

    @include media($mobile)
    {
        h1
        {
            font-size: 16pt;
        }
    }

    #splash-description
    {
        text-align: center;
        
        p
        {
            margin: auto;
            width: 80%;
        }
    }

    #splash-screenshots
    {
        position: relative;
        margin-top: 15px;

        figure
        {
            display: block;

            max-width: 1000px;
            width: 100%;
            padding-bottom: 70%;

            position: relative;
            left: 50%;
            @include transform(translateX(-50%));

            background-size: 100%;
            background-repeat: no-repeat;
            z-index: 10;
            
            @include transition(all 0.2s);
            
            &:hover
            {
                margin-top: -10px;
                cursor: pointer;
            }

            &.secondary,
            &.tertiary
            {
                display: none;
            }

            &.splash-windows
            {
                background-image: url(../images/screenshots/splash/win-splash-php.png);
            }

            &.splash-linux
            {
                background-image: url(../images/screenshots/splash/linux-splash-php.png);
                padding-bottom: 72.8%;
            }

            &.splash-osx
            {
                background-image: url(../images/screenshots/splash/mac-splash-php.png);
            }
        }
    }

    /* Download Buttons */
    #splash-download-wrap
    {
        position: relative;
        margin-bottom: 30px;

        #splash-download-buttons
        {
            display: inline-block;
            position: relative;
            z-index: 10;

            a.big.button
            {
                font-family: $font-impact;
                font-size: 16pt !important;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 240px;
                cursor: pointer;
                position: relative;
                color: #FFF;
                text-decoration: none !important;
                
                i /* icon */
                {
                    vertical-align: middle;
                    font-size: 22pt;
                    color: #FFF;
                    position: absolute;
                    left: 20px;
                }

                p
                {
                    font-size: 8pt !important;
                    text-transform: lowercase;
                    letter-spacing: 0;
                }

                /* Green Button - Try Now*/
                &.primary
                {
                    @extend %button-green;
                }

                /* Override button values */
                &.primary, &
                {
                    padding: 18px 15px 16px 40px;
                    border-radius: 3px;
                }
            }

        }

        #splash-download-edit
        {
            margin-top: 10px;

            p
            {
                font-size: 10pt;

                @include media($mobile)
                {
                    font-size: 8pt !important;
                }
            }
        }

    }
    
    
    a.php
    {
        color: #8892BF;
    }
    
    a.python
    {
        color: #e6cc1a;
        /*color: #1e80e1;*/
    }

}
