<header>
    <div class="outer">
        <div class="inner">
            <!-- Logo -->
            <a class="logo-link"><figure id="header-logo"></figure></a>
            
            <div class="nav-wrap">
                
                <span class="collapser button primary">
                    <i class="icon icon-bars fa fa-bars"></i>
                </span>
                
                <ul class="left unstyled">
                    <li>
                        <a href="http://www.activestate.com/komodoide">
                            <span>Komodo Information</span>
                            <i class="icon icon-external-link"></i>
                        </a>
                    </li>
                </ul>
                
                <!-- Navigation -->
                <nav>
                    <%= get_list(data.header.navigation, "unstyled") %>
                </nav>
            </div>
        </div>
    </div>
</header>
