<header>
    <div class="outer">
        <div class="inner">
            <div class="nav-wrap">
                <span class="collapser button primary">
                    <i class="icon icon-bars fa fa-bars"></i>
                </span>
                <!-- Navigation -->
                <nav>
                    <%= get_list(data.header.navigation, "unstyled") %>
                </nav>
            </div>

            <!-- Logo -->
            <a href="<%= site_url %>"><figure id="header-logo"></figure></a>
        </div>
    </div>
    <% if current_page.data.headerAppend %>
        <%= partial(current_page.data.headerAppend) %>
    <% end %>
</header>
