<% if paginate && num_pages > 1 %>
<!-- Page Listing -->
<div class="pagination">
    <ul>
        <!-- Previous Page Button -->
        <% if prev_page %>
            <li><%= link_to 'Prev', prev_page %></li>
        <% end %>

        <% if next_page %>
          <li><%= link_to 'Next', next_page %></li>
        <% end %>
    </ul>
</div>
<% end %>
