<!-- GitHub Ribbon -->
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/Komodo/KomodoEdit" target="_blank">Fork us on GitHub</a>
    </div>
</div>

<!-- Under Construction Message -- TODO: Remove for production -->
<a href="#" id="under-construction-tape">
    <div class="inner">
        Under Construction
    </div>
</a>
<div id="under-construction" title="Heads Up">
    <p>
        This site is under construction, please bear this in mind.
    </p>
    <p>
        Please consider reporting any issues you run into on our
        <a href="https://github.com/Komodo/komodo-website">GitHub repository</a>.
    </p>
</div>
