.document-authors article
{

    img
    {
        max-width: 75px;
        max-height: 75px;
        margin-left: 10px;
        border: 1px solid rgb(150,150,150);
        border-radius: 1px;
    }

}
