.document-blog span.blog-title-under,
.document-blog-entry span.blog-title-under
{
    font-size: 9pt;
    font-weight: 400;
    color: lighten($color-base-text, 20%);
}

.document-blog-entry article
{
    & > div:first-child + h1
    {
        margin-top: 0;
    }

    & > .content > :first-child,
    & > .content > img[align="right"]:first-child + *
    {
        margin-top: 0;
    }

    .share
    {
        position: relative;
        z-index: 110;
        float: right;
        margin-right: -30px;

        @include media($sidebar-collapse)
        {
            margin-right: 20px;
        }
    }

    & > h1:first-child
    {
        margin: 0;
    }
    
    img
    {
        margin: 10px;
    }
}

.document-blog-entry.drupal-import
{
    .content > div:first-child > p:first-child img,
    .content > div:first-child > img:first-child
    {
        float: right;
    }

    img
    {
        max-width: 100%;
    }
}

/* Blog List */
.document-blog article > h1 + a.push-right
{
    margin-top: -30px;
}

.document-blog .entry
{
    & > h1
    {
        font-size: 14pt;
        margin: 0 0 4px;

        a[href]
        {
            @include link($color-base-text, $color-base-link-hover);
            border-bottom: 0 !important;
        }
    }

    & > p
    {
        color: lighten($color-base-text, 10%);
        font-weight: 400;

        & > img
        {
            width: 75px;
            height: 75px;
            border: 1px solid #AAAAAA;
            float: left;
            margin: 0 10px 10px 0;
        }

        & > a
        {
            font-weight: bold;
        }
    }
}

/* Sidebar */
.sidebar-blog
{
    line-height: 1.5;
    
    h1
    {
        font-size: 14pt;
        margin: 8px 0;
    }

    ul
    {
        list-style: disc;
        padding-left: 15px;
    }

    p
    {
        margin: 0 0 0 4px;
    }

    button.submit-content
    {
        width: 100%;
        margin-bottom: 15px;
    }

    .info
    {
        img
        {
            max-width: 100px;
            border: 1px solid #AAAAAA;
            float: right;
        }

        img + p
        {
            padding-top: 15px;
        }
    }

    .blogs ul
    {
        padding-left: 5px;
        
        li
        {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            list-style-type: none;

            &:before
            {
                content: "\002013";
            }
        }
    }

    .screencasts
    {
        text-align: center;

        h1
        {
            text-align: left;
        }

        a
        {
            @include block-link();

            width: 30%;
            position: relative;
            display: inline-block;
            margin: 0 auto 15px;
            font-weight: bold;
            font-size: 9pt;
            line-height: 1.3;

            &:not(:nth-child(4)):not(:nth-child(7))
            {
                margin-right: 2%;
            }

            i
            {
                position: absolute;
                font-size: 36px;
                left: 50%;
                top: 50%;
                margin-left: -16px;
                margin-top: -24px;
            }

            span
            {
                display: block;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            figure
            {
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 53%;
                margin-bottom: 5px;
                background-size: 100%;
            }
        }
    }
}
