.document-komodo-edit article
{
    text-align: center;

    & > img
    {
        width: 90%;
        max-width: 794px;
    }

    p a.button
    {
        font-family: $font-impact;
        font-size: 14pt;
        text-transform: uppercase;
        letter-spacing: -1px;
        
        i
        {
            @extend %button-green-text-inset;
            vertical-align: middle;
            font-size: 22pt;
            margin-right: 7px;
        }
    }

    .details
    {
        @include outer-container;
        margin-top: 30px;

        & > div
        {
            @include span-columns(5.8);

            &.opensource
            {
                @include shift(0.4);
            }
        }

        .comparison
        {
            & > h2
            {
                text-align: left;
            }

            & > a
            {
                float: right;
                margin-top: -33px;
            }

            table
            {
                @extend %textured-box-bare;
                display: table;
                width: 100%;

                tr, th, td
                {
                    background-color: transparent;
                    border: 0;
                }

                tbody th
                {
                    font-weight: 400;
                }

                tbody th, tbody td
                {
                    padding: 4px 8px;
                }

                thead, td
                {
                    text-align: center;
                }

                thead th
                {
                    white-space: nowrap;
                }

                td
                {
                    font-size: 14pt;
                    font-weight: bold;
                }
            }
        }

        .opensource
        {
            text-align: left;
        }

        $tablet: new-breakpoint(max-width 960px min-width 750px);
        @include media($tablet)
        {
            .comparison table
            {
                thead th
                {
                    font-size: 9pt;
                }

                th, tbody th, tbody td
                {
                    padding: 2px 4px;
                }

                th
                {
                    font-size: 9.5pt;
                }

                td
                {
                    font-size: 12pt;
                }
            }
        }

        $mobile: new-breakpoint(max-width 750px);
        @include media($mobile)
        {
            & > div
            {
                @include span-columns(11.8);

                &.opensource
                {
                    @include shift(0);
                }
            }
        }
    }
    
}
