.document-resources article,
.document-resource-category article,
.document-resource article
{
    .beta
    {
        position: absolute;
        top: 20px;
        right: 0;
        padding: 10px;
        font-size: 14pt;
        font-weight: bold;
        color: #FFF;
        @include linear-gradient(rgba(134,94,151,0.8), rgba(102,70,116,0.8));
        border: 1px solid #5E426B;
        box-shadow: inset 0 0 0 0 rgba(0,0,0,0),
                    0 0 8px 0 rgba(0,0,0,0.8);
        border-radius: 16px;
    }
}

.document-resource article
{

    img
    {
        max-width: 100%;
    }

    h1
    {
        margin-top: 0;
    }

    .social-meta
    {
        & > a
        {
            display: inline-block;

            span
            {
                display: inline-block;
                background: rgba(0,0,0,0.5);
                padding: 2px 5px 4px 4px;
                border-radius: 12px;
                font-weight: bold;
            }
        }
    }

    .main-meta
    {
        & > span
        {
            display: inline-block;
            margin-right: 15px;
        }
    }

    .details-meta
    {
        float: right;
        width: 250px;
        background: rgba(255,255,255,0.3);
        border-radius: 3px;
        padding: 10px;
        margin-top: 25px;

        dl
        {
            margin: 0;
            
            dt, dd
            {
                float: left;
                padding: 4px 0;
            }

            dd + dt,
            dd + dd
            {
                clear: left;
            }

            dd + dd
            {
                float: none;
            }

            dt
            {
                width: 30%;
                text-transform: uppercase;
                opacity: 0.7;
            }

            dd
            {
                width: 50%;
                @extend %ellipsis;
            }
        }
    }

    .readme
    {
        background: rgba(255,255,255,0.9);
        padding: 10px;
        border-radius: 3px;

        pre
        {
            line-height: 1.5;
        }
    }

    .download
    {
        .release-meta
        {
            margin-top: 10px;

            span
            {
                display: inline-block;
                margin-right: 15px;
            }
        }

        .files
        {
            text-align: center;
            margin-right: 250px;
        }

        .assets > div
        {
            & > a
            {
                margin-top: 15px;
            }
        }

        .source
        {
            margin-top: 15px;
        }
    }
}

.document-resources article,
.document-resource-category article
{
    & > ul
    {
        margin: 0;
        padding: 0;
    }

    & > ul > li
    {
        padding: 10px 2px;
        border-bottom: 1px solid rgba(0,0,0,0.15);

        &:nth-child(even)
        {
            background: rgba(255,255,255,0.2);
        }

        h3, p
        {
            margin: 0;
        }

        h3 > a,
        h3 > strong > a
        {
            @include link(#8a629b, darken(#8a629b, 10%));
        }

        h3 .author
        {
            font-size: 11pt;
        }

        p
        {
            color: lighten($color-base-text, 10%);
            @extend %ellipsis;
        }

        .meta
        {
            float: right;
            text-align: right;
            font-size: 24px;

            & > span
            {
                display: inline-block;
                margin-left: 15px;

                span
                {
                    font-family: $font-mono;
                    font-size: 18px;
                    font-weight: bold;
                    opacity: 0.8;
                }

                .icon
                {
                    opacity: 0.7;
                }
            }
        }

    }
}

.sidebar-resources
{
    ul.categories
    {
        margin: 0;
        padding: 0;

        li h3
        {
            font-size: 13pt;
            margin: 5px 0;
        }
    }

    ul:not(.categories)
    {
        padding-left: 30px;
    }
}
