@import '../splash/header';
@import '../splash/features';
@import '../splash/addons';
@import '../splash/news';

.document-index
{
    h1
    {
        font-size: 16pt;
    }

    h2
    {
        font-size: 13pt;
    }

    h3
    {
        font-size: 12pt;
    }
}

.document-index
{
    ul
    {
        padding: 0;
        margin: 0;
    }

    p
    {
        margin: 0;
    }

    article
    {
        & > div > h1,
        .inner > h1
        {
            margin: 0 0 15px 0;
        }
    }
}
