body.startpage
{

    &, p, dd
    {
        font-size: 9.5pt;
    }

    #container
    {
        margin: 0;
        height: 100% !important;
        min-height: 100%;
    }

    h1 { font-size: 14pt; }
    h2 { font-size: 12pt; }
    h3 { font-size: 10pt; }

    header
    {
        padding: 10px;
        height: 100%;
        min-height: 100%;

        div.featured-wrap
        {
            position: relative;
            overflow: hidden;

            float: right;
            min-width: 200px;
            min-height: 120px;

            text-align: right;

            & > img
            {
                position: absolute;
                width: 128px;
                top: -20px;
                right: 0;
            }

            .featured
            {
                padding-top: 5px;
                padding-right: 135px;
                min-height: 100px;

                h1, h2, h3, p
                {
                    margin: 0;
                    padding: 0 0 4px 0;
                }
            }

            .links
            {
                li:after
                {
                    content: " \002013";
                }
            }
        }

        div.news
        {
            & > h1:first-child
            {
                margin-top: 0;
            }

            & > p:last-child
            {
                margin-bottom: 0;
            }

            dl
            {
                font-size: 10pt;
                line-height: 1.3;
                margin: 0;

                dt
                {
                    font-weight: 400;
                }

                dd
                {
                    margin: 0;

                    &:not(last-child)
                    {
                        padding-bottom: 4px;
                        font-size: 9pt;
                    }
                }

            }
        }
    }

    .promotion
    {
        display: block;
        position: absolute;
        right: 70px;
        top: 0;
        z-index: 15;
        width: 120px;
        height: 120px;
        background-image: url(../images/icons/emblems/promotion.png);
        background-size: 100%;
        border: 0;

        @include transition(all 0.2s ease-in-out);

        .inner
        {
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));

            color: #FFF;
            font-size: 11pt;
            line-height: 1.2;
            font-weight: bold;
            text-align: center;
            padding: 10px 10px 0 10px;
            text-shadow: 0 0 3px rgba(0,0,0,0.3);
        }

        &:hover .inner
        {
            text-decoration: underline;
        }
    }

}
