.document-testimonials
{
    text-align: center;
    
    .testimonial
    {
        display: inline-block;
        width: 45%;
        position: relative;
        margin: 0 25px;
        
        @include media(new-breakpoint(max-width 1060px))
        {
            display: block;
            width: 90%;
            margin: auto;
        }
        
        h2
        {
            margin-bottom: 5px;
            height: 25px;
            padding: 0 25px;
        }
        
        blockquote
        {
            width: 90%;
            height: 100px;
            line-height: 1.2;
            text-align: center;
            font-style: italic;
        }

        & > span
        {
            display: block;
            text-align: center;
            font-size: 11pt;
            margin-top: 15px;
        }
    }
}