#splash-addons
{
    &, h1, h2, h3
    {
        color: #F0F0F0;
    }

    position: relative;
    margin: 25px 0 45px;
    padding: 20px 10px 35px;
    min-height: 200px;
    background-color: #254e54;
    @include background-image(url(../images/layout/blueprint-pattern.png),
                      linear-gradient(to bottom, rgba(50,102,109,1) 0%,rgba(21,53,54,1) 100%));
    @include box-shadow(inset 0px 10px 5px -10px rgba(0, 0, 0, 0.5),
                inset 0px -10px 5px -10px rgba(0, 0, 0, 0.5));

    .inner
    {
        @include outer-container;

        & > div
        {
            padding: 5px;
            text-align: center;
            background: rgba(42,42,42,0.5);
            @include box-shadow(inset 0 0 4px 0 rgba(0,0,0,0.3));
            @include border-radius(3px);
            @include span-columns(3);

            @include media($tablet)
            {
                @include span-columns(5.5);
                @include shift(0.2);
                margin-bottom: 25px;
            }

            @include media($mobile)
            {
                @include span-columns(12);
                @include shift(0);
            }

            h2
            {
                @extend %ellipsis;
                font-weight: bold;
                margin: 10px 0 15px;
            }

            p
            {
                line-height: 1.3;

                @include media($tablet)
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            figure
            {
                background-size: cover;
                width: 95%;
                height: 0;
                padding-bottom: 55%;
                margin: 0 auto 15px;
            }

            a
            {
                @extend %button-grey;
                @extend %button-grey-text-inset;
                display: inline-block;
                font-weight: bold;
                font-size: 9pt;

                margin: 15px 0;
                padding: 8px;
                text-transform: uppercase;
            }
        }

    }
    
    & > a
    {
        display: inline-block;
        text-align: center;
        position: absolute;
        width: 150px;
        bottom: -15px;
        left: 50%;
        margin-left: -75px;
        padding: 8px 0;
        text-transform: uppercase;
        font-size: 14pt;
        font-weight: bold;
        @extend %button-green;
        @extend %button-green-text-inset;
    }
}
