#splash-features
{
    @include outer-container;
    padding: 0 10px;

    h1 a
    {
        font-size: 12pt;
    }

    li > strong
    {
        font-size: 8pt;
        float: right;
        display: block;
        padding: 3px 20px 0 0;
        margin-top: 10px;
    }

    strong
    {

    }

    #splash-feature-column
    {
        @include span-columns(8.5);

        h2
        {
            margin: 10px 0 5px;
            font-weight: 400;
        }

        strong
        {
            font-weight: bold;
        }

        p
        {
            font-size: 11pt;
            font-weight: 300;
        }

        li:not(.clearfix)
        {
            float: left;
            width: 49%;
            margin: 0;
            padding-right: 40px;
        }
    }

    #splash-features-sidebar
    {
        padding: 15px 0;
        text-align: center;
        @extend %textured-box;
        @include span-columns(3.5);

        h1
        {
            margin: 0 0 15px 0;
        }

        ul
        {
            display: inline-block;
            margin: auto;
        }
    }

    @include media($tablet)
    {
        #splash-feature-column
        {
            @include span-columns(6);

            li:not(.clearfix)
            {
                float: none;
                width: auto;
                padding-right: 0;
            }
        }

        #splash-features-sidebar
        {
            @include span-columns(5.5);
            @include shift(0.5);
        }
    }

    @include media($mobile)
    {
        #splash-feature-column
        {
            @include span-columns(12);
        }

        #splash-features-sidebar
        {
            @include span-columns(12);
            @include shift(0);
            margin-top: 15px;
        }
    }

}
