#splash-header
{
    text-align: center;
    @include outer-container;
    position: relative;
    overflow: hidden;

    padding: 20px 15px 0 15px;
    height: 700px;

    @include media(new-breakpoint(max-width 1600px))
    {
        padding-bottom: 55%;
        height: 0;
    }

    @include media(new-breakpoint(max-width 1400px))
    {
        height: 775px;
        padding-bottom: 0;
    }

    @include media($mobile)
    {
        height: 750px;

        p
        {
            font-size: 11pt !important;
        }
    }

    p
    {
        margin: 0;
        font-size: 14pt;
        font-weight: 300;
    }

    h1
    {
        font-size: 28pt;
        font-weight: 400;
        margin: 20px 0;

        & + div
        {
            margin: 20px 0 30px;
        }
    }

    @include media($tablet)
    {
        h1
        {
            font-size: 20pt;
        }
    }

    @include media($mobile)
    {
        h1
        {
            font-size: 16pt;
        }
    }

    #splash-description
    {
        text-align: center;
        
        p
        {
            margin: auto;
            width: 80%;
        }
    }

    #splash-screenshots
    {
        position: relative;
        margin-top: 15px;

        figure
        {
            display: block;

            max-width: 1000px;
            width: 100%;
            padding-bottom: 58.2%;

            position: relative;
            left: 50%;
            @include transform(translateX(-50%));

            background-size: 100%;
            background-repeat: no-repeat;

            filter: drop-shadow(0 0 20px rgba(0,0,0,0.4));
            -webkit-filter: drop-shadow(0 0 20px rgba(0,0,0,0.4));
            /*@include transition(z-index 0.4s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, margin-left 0.4s ease-in-out);*/

            &.secondary,
            &.tertiary
            {
                display: none;
            }

            &.splash-windows
            {
                background-image: url(../images/screenshots/editor-ui-windows-fade.png);
            }

            &.splash-linux
            {
                background-image: url(../images/screenshots/editor-ui-linux-fade.png);
            }

            &.splash-osx
            {
                background-image: url(../images/screenshots/editor-ui-osx-fade.png);
            }
        }
    }

    /* Download Buttons */
    #splash-download-wrap
    {
        position: relative;
        margin-bottom: 20px;
        
        .promotion
        {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -280px;
            bottom: -900px;
            width: 150px;
            height: 150px;
            background-image: url(../images/icons/emblems/promotion.png);
            background-size: 100%;
            border: 0;
            @include transform(rotate(-15deg) translateY(-50%));

            @include media($mobile)
            {
                display: none;
            }

            .inner
            {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));

                color: #FFF;
                font-size: 12pt;
                line-height: 1.5;
                font-weight: bold;
                text-align: center;
                padding: 0 15px 0 15px;

                small
                {
                    font-size: 7pt;
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    text-align: center;
                    width: 100%;
                    margin-left: -3px;
                }
            }

            &:hover .inner
            {
                text-decoration: underline;
            }
        }

        #splash-download-buttons
        {
            display: inline-block;
            position: relative;
            z-index: 10;

            a.big.button
            {
                font-family: $font-impact;
                font-size: 16pt !important;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 2px;
                margin-bottom: 2px;
                width: 240px;
                cursor: pointer;
                text-shadow: none !important;
                position: relative;
                
                @include transition(box-shadow 0.2s);

                i /* icon */
                {
                    vertical-align: middle;
                    font-size: 22pt;
                    text-shadow: none;
                    color: #FFF;
                    position: absolute;
                    left: 20px;
                }

                p
                {
                    font-size: 8pt !important;
                    text-transform: lowercase;
                    text-shadow: none;
                    letter-spacing: 0;
                }

                /* Green Button - Try Now*/
                &.primary
                {
                    @extend %button-green;
                }

                /* Override button-green values */
                &.primary, &
                {
                    padding: 18px 15px 16px 40px;
                    border-radius: 3px;
                    box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                inset -1px 0 0 0 rgba(255,255,255, 0.15),
                                inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                inset 0 0 0 0 rgba(255,255,255,0),
                                0 0 8px 0 rgba(0,0,0,0.3);
    
                    &:hover
                    {
                        box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.3),
                                    inset -1px 0 0 0 rgba(255,255,255, 0.25),
                                    inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                    inset -25px 15px 30px 0px rgba(255,255,255,0.1);
                    }
                }
            }

        }

        #splash-download-edit
        {
            margin-top: 10px;

            p
            {
                font-size: 10pt;

                @include media($mobile)
                {
                    font-size: 8pt !important;
                }
            }

            a
            {
                color: lighten($color-base-link, 20%);
            }
        }

    }
    
    a.php
    {
        color: #8892BF;
    }
    
    .assistance
    {
        top: -10px;
    }

}
