#splash-header
{
    text-align: center;
    padding: 10px 0;
    @include outer-container;
    position: relative;
    overflow: hidden;

    padding: 0 15px 0 15px;
    height: 900px;

    @include media(new-breakpoint(max-width 1600px))
    {
        padding-bottom: 55%;
        height: 0;
    }

    @include media(new-breakpoint(max-width 1400px))
    {
        height: 775px;
        padding-bottom: 0;
    }

    @include media($mobile)
    {
        height: 750px;

        p
        {
            font-size: 11pt !important;
        }
    }

    p
    {
        margin: 0;
        font-size: 14pt;
        font-weight: 300;
    }

    h1
    {
        font-size: 28pt;
        font-weight: 400;
        margin: 20px 0;

        & + div
        {
            margin: 20px 0 30px;
        }
    }

    @include media($tablet)
    {
        h1
        {
            font-size: 20pt;
        }
    }

    @include media($mobile)
    {
        h1
        {
            font-size: 16pt;
        }
    }

    #splash-description
    {
        text-align: center;
        
        p
        {
            margin: auto;
            width: 80%;
        }
    }

    #splash-screenshots
    {
        position: relative;
        margin-top: 15px;

        figure
        {
            display: block;

            max-width: 1000px;
            width: 100%;
            padding-bottom: 58.2%;

            position: relative;
            left: 50%;
            @include transform(translateX(-50%));

            background-size: 100%;
            background-repeat: no-repeat;

            box-shadow: 0 0 20px 6px rgba(0,0,0,0.4);
            /*@include transition(z-index 0.4s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, margin-left 0.4s ease-in-out);*/

            &.secondary,
            &.tertiary
            {
                display: none;
            }

            &.splash-windows
            {
                background-image: url(../images/screenshots/editor-ui-windows-fade.png);
            }

            &.splash-linux
            {
                background-image: url(../images/screenshots/editor-ui-linux-fade.png);
            }

            &.splash-osx
            {
                background-image: url(../images/screenshots/editor-ui-osx-fade.png);
            }
        }
    }

    /* Download Buttons */
    #splash-download-wrap
    {
        position: relative;
        margin-bottom: 20px;
        
        .promotion
        {
            display: block;
            position: absolute;
            left: 50%;
            margin-left: -280px;
            bottom: -900px;
            width: 150px;
            height: 150px;
            background-image: url(../images/icons/emblems/promotion.png);
            background-size: 100%;
            border: 0;
            @include transform(rotate(-15deg) translateY(-50%));

            @include media($mobile)
            {
                display: none;
            }

            .inner
            {
                position: relative;
                top: 50%;
                @include transform(translateY(-50%));

                color: #FFF;
                font-size: 12pt;
                line-height: 1.5;
                font-weight: bold;
                text-align: center;
                padding: 0 15px 0 15px;

                small
                {
                    font-size: 7pt;
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    text-align: center;
                    width: 100%;
                    margin-left: -3px;
                }
            }

            &:hover .inner
            {
                text-decoration: underline;
            }
        }

        #splash-download-buttons
        {
            display: inline-block;
            border-radius: 3px;
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
            position: relative;
            z-index: 10;

            a.big.button
            {
                font-family: $font-impact;
                font-size: 16pt !important;
                text-transform: uppercase;
                font-weight: 900;
                margin-top: 0;
                margin-bottom: 0;
                width: 350px;
                cursor: pointer;
                text-shadow: none !important;

                @include transition(box-shadow 0.2s);

                i /* icon */
                {
                    vertical-align: middle;
                    font-size: 22pt;
                    margin-right: 7px;
                    text-shadow: none;
                    color: #FFF;
                }

                p
                {
                    font-size: 8pt !important;
                    text-transform: lowercase;
                    text-shadow: none;
                    letter-spacing: 0;
                    margin: -5px 0 0 50px;
                    padding-right: 22px;
                }

                &:not(.primary) p
                {
                    margin-left: 43px;
                }

                /* Green Button - Komodo IDE */
                &.primary
                {
                    padding: 18px 15px 16px 10px;
                    @extend %button-green;
                    border-radius: 3px;
                    box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                inset -1px 0 0 0 rgba(255,255,255, 0.15),
                                inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                inset 0 0 0 0 rgba(255,255,255,0);

                    &:hover
                    {
                        box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.3),
                                    inset -1px 0 0 0 rgba(255,255,255, 0.25),
                                    inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                    inset -25px 15px 30px 0px rgba(255,255,255,0.1);
                    }
                }
            }

            @include media($mobile)
            {
                a.big.button
                {
                    font-size: 13pt !important;
                    width: 250px !important;

                    &:first-child
                    {
                        padding: 14px 10px 11px 6px;
                    }

                    i
                    {
                        font-size: 16pt !important;
                        margin-right: 4px;
                    }

                    p
                    {
                        font-size: 7pt !important;
                    }
                }
            }
        }

        #splash-download-edit
        {
            margin-top: 10px;

            p
            {
                font-size: 10pt;

                @include media($mobile)
                {
                    font-size: 8pt !important;
                }
            }

            a
            {
                color: lighten($color-base-link, 20%);
            }
        }

    }
    
    .promotion-header
    {
        a
        {
            text-decoration: none !important;
        }

        h1
        {
            font-size: 128px;
            font-weight: bold;
            margin-bottom: 0;
            
            span
            {
                color: #BA2121;
            }
        }

        h3
        {
            margin-top: 0;
            font-size: 32px;
        }

        @include media(new-breakpoint(max-width 1000px))
        {
            h1
            {
                font-size: 98px;
            }

            h3
            {
                font-size: 24px;
            }
        }

        @include media(new-breakpoint(max-width 700px))
        {
            h1
            {
                font-size: 72px;
            }

            h3
            {
                font-size: 18px;
            }
        }

        @include media($mobile)
        {
            h1
            {
                font-size: 54px;
            }

            h3
            {
                font-size: 14px;
            }
        }
    }

}
