#splash-header
{
    text-align: center;
    padding: 30px 0;
    @include outer-container;

    p
    {
        margin: 0;
        font-size: 11pt;
    }

    h2
    {
        text-shadow: 1px 1px 0 rgba(0,0,0,0.50);
        margin: 0;

        & + div
        {
            margin-top: 10px;
        }
    }

    #splash-screenshots
    {
        position: relative;
        height: 420px;
        margin: 25px auto;

        figure
        {
            position: absolute;
            z-index: 2;
            top: -90px;
            left: 50%;

            margin: 0;
            margin-left: -419px;
            width: 838px;
            height: 598px;

            background-repeat: no-repeat;

            @include box-shadow(0 0 20px 6px rgba(0,0,0,0.4));
            @include transform(scale(0.6));
            /*@include transition(z-index 0.4s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, margin-left 0.4s ease-in-out);*/
            @include transition-property (transform, z-index);
            @include transition-duration(0.2s, 0.2s);
            @include transition-timing-function(ease-in-out);

            &.primary
            {
                @include transform(scale(0.7));
                z-index: 10;

                &.on-top
                {
                    z-index: 5;
                }
            }

            &.secondary
            {
                margin-left: -629px;
            }

            &.tertiary
            {
                margin-left: -210px;
            }

            &:hover
            {
                @include transform(scale(0.7));
                z-index: 20;
            }

            &.primary:hover
            {
                @include transform(scale(0.8));
            }

            &.splash-windows
            {
                background-image: url(../images/screenshots/editor-ui-windows.png);
            }

            &.splash-linux
            {
                background-image: url(../images/screenshots/editor-ui-linux.png);
            }

            &.splash-osx
            {
                background-image: url(../images/screenshots/editor-ui-osx.png);
            }
        }
    }

    /* Download Buttons */
    #splash-download-buttons
    {
        display: inline-block;
        @include border-radius(3px);
        @include box-shadow(0 0 8px 0 rgba(0,0,0,0.3));

        &:hover button,
        &:hover a.button
        {
            opacity: 0.7;

            i {
                opacity: 0.5;
            }

            &:hover
            {
                opacity: 1.0;

                i {
                    opacity: 1.0;
                }
            }
        }

        button,
        a.button
        {
            font-family: $font-impact;
            font-size: 16pt !important;
            text-transform: uppercase;
            font-weight: 900;
            letter-spacing: -1px;
            margin-top: 0;
            margin-bottom: 0;
            @include transition(box-shadow 0.2s, opacity 0.2s);
            width: 210px;
            cursor: pointer;

            span
            {
                font-size: 13pt;
            }

            i /* icon */
            {
                vertical-align: middle;
                font-size: 22pt;
                text-shadow: 1px 1px 0 rgba(255,255,255, 0.15);
                margin-right: 7px;
                @include transition(opacity 0.2s);
            }

            /* Green Button - Komodo IDE */
            &:first-child
            {
                padding: 18px 15px 16px 10px;
                @extend %button-green;
                @include border-radius(3px 0 0 3px);
                @include box-shadow(
                     inset 0 1px 0 0 rgba(255,255,255, 0.2),
                     inset -1px 0 0 0 rgba(255,255,255, 0.15),
                     inset 0 -1px 0 0 rgba(0,0,0, 0.3)
                );

                &:hover
                {
                    @include box-shadow(
                         inset 0 1px 0 0 rgba(255,255,255, 0.3),
                         inset -1px 0 0 0 rgba(255,255,255, 0.15),
                         inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                         inset 0 -1px 6px 0 rgba(0,0,0, 0.3)
                    );
                }

                i /* icon */
                {
                    color: rgba(31,64,63,0.7);
                }
            }

            /* Grey Button - Komodo Edit */
            &:not(:first-child)
            {
                padding: 18px 15px 16px;
                margin-left: -5px;
                @extend %button-grey;
                @include border-radius(0 3px 3px 0);
                @include box-shadow(
                     inset 0 1px 0 0 rgba(255,255,255, 0.2),
                     inset 1px 0 0 0 rgba(0,0,0, 0.2),
                     inset 0 -1px 0 0 rgba(0,0,0, 0.2)
                );

                &:hover
                {
                    @include box-shadow(
                        inset 0 1px 0 0 rgba(255,255,255, 0.2),
                        inset 1px 0 0 0 rgba(0,0,0, 0.2),
                        inset 0 -1px 0 0 rgba(0,0,0, 0.2),
                        inset 0 -1px 6px 0 rgba(0,0,0, 0.3)
                    );
                }

                i /* icon */
                {
                    color: rgba(30,30,30,0.7);
                }
            }
        }
    }

    #splash-download-under
    {
        margin-top: 10px;
        font-size: 8pt;
        font-weight: bold;

        & > span
        {
            display: inline-block;
            width: 200px;
            text-align: center;

            & + div
            {
                margin-top: 30px;

                h3
                {
                    margin: 0;
                }
            }
        }
    }

}
