#splash-header
{
    text-align: center;
    padding: 10px 0;
    @include outer-container;
    position: relative;
    overflow: hidden;

    padding: 0 15px 30% 15px;
    height: 0;

    @include media(new-breakpoint(max-width 1400px))
    {
        min-height: 420px;
        padding-bottom: 0;
    }

    @include media($mobile)
    {
        min-height: 300px;

        p
        {
            font-size: 11pt !important;
        }
    }

    p
    {
        margin: 0;
        font-size: 14pt;
        font-weight: 300;
    }

    h1
    {
        font-size: 28pt;
        font-weight: 400;
        margin: 20px 0;

        & + div
        {
            margin: 20px 0 30px;
        }
    }

    @include media($tablet)
    {
        h1
        {
            font-size: 20pt;
        }
    }

    @include media($mobile)
    {
        h1
        {
            font-size: 16pt;
        }
    }

    #splash-description
    {
        text-align: center;
        
        p
        {
            margin: auto;
            width: 80%;
        }
    }

    #splash-screenshots
    {
        position: relative;
        margin-top: 15px;

        figure
        {
            display: block;

            max-width: 1000px;
            width: 100%;
            padding-bottom: 58.2%;

            position: relative;
            left: 50%;
            @include transform(translateX(-50%));

            background-size: 100%;
            background-repeat: no-repeat;

            box-shadow: 0 0 20px 6px rgba(0,0,0,0.4);
            /*@include transition(z-index 0.4s, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, margin-left 0.4s ease-in-out);*/

            &.secondary,
            &.tertiary
            {
                display: none;
            }

            &.splash-windows
            {
                background-image: url(../images/screenshots/editor-ui-windows.png);
            }

            &.splash-linux
            {
                background-image: url(../images/screenshots/editor-ui-linux.png);
            }

            &.splash-osx
            {
                background-image: url(../images/screenshots/editor-ui-osx.png);
            }
        }
    }

    /* Download Buttons */
    #splash-download-wrap
    {
        position: absolute;
        bottom: 15px;

        left: 50%;
        @include transform(translateX(-50%));
        width: 420px;
        
        .promotion
        {
            display: block;
            position: absolute;
            left: -110px;
            bottom: -115px;
            width: 150px;
            height: 150px;
            background-image: url(../images/icons/emblems/promotion.png);
            background-size: 100%;
            border: 0;
            @include transform(rotate(-15deg) translateY(-50%));

            @include media($mobile)
            {
                display: none;
            }

            .inner
            {
                position: relative;
                top: 45%;
                @include transform(translateY(-50%));

                color: #FFF;
                font-size: 12pt;
                line-height: 1.5;
                font-weight: bold;
                text-align: center;
                padding: 0 15px 0 15px;
                text-shadow: 0 0 3px rgba(0,0,0,0.3);

                small
                {
                    font-size: 7pt;
                    display: inline-block;
                    position: absolute;
                    left: 0px;
                    text-align: center;
                    width: 100%;
                    margin-left: -3px;
                }
            }

            &:hover .inner
            {
                text-decoration: underline;
            }
        }

        #splash-download-buttons
        {
            display: inline-block;
            border-radius: 3px;
            box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
            position: relative;
            z-index: 10;

            a.big.button
            {
                font-family: $font-impact;
                font-size: 16pt !important;
                text-transform: uppercase;
                font-weight: 900;
                letter-spacing: -1px;
                margin-top: 0;
                margin-bottom: 0;
                width: 210px;
                cursor: pointer;

                @include transition(box-shadow 0.2s);

                span
                {
                    font-size: 13pt;
                }

                i /* icon */
                {
                    vertical-align: middle;
                    font-size: 22pt;
                    text-shadow: 1px 1px 0 rgba(255,255,255, 0.15);
                    margin-right: 7px;
                }

                p
                {
                    font-size: 8pt !important;
                    text-transform: lowercase;
                    text-shadow: none;
                    letter-spacing: 0;
                    margin: -5px 0 0 55px;
                    text-align: left;
                }

                &:not(.primary) p
                {
                    margin-left: 48px;
                }

                /* Green Button - Komodo IDE */
                &.primary
                {
                    padding: 18px 15px 16px 10px;
                    @extend %button-green;
                    border-radius: 3px 0 0 3px;
                    box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                inset -1px 0 0 0 rgba(255,255,255, 0.15),
                                inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                inset 0 0 0 0 rgba(255,255,255,0);

                    &:hover
                    {
                        box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                    inset -1px 0 0 0 rgba(255,255,255, 0.15),
                                    inset 0 -1px 0 0 rgba(0,0,0, 0.3),
                                    inset -25px 15px 30px 0px rgba(255,255,255,0.1);
                    }

                    i /* icon */
                    {
                        color: rgba(31,64,63,0.7);
                    }
                }

                /* Grey Button - Komodo Edit */
                &:not(:first-child)
                {
                    padding: 18px 15px 16px;
                    margin-left: -4px;
                    @extend %button-grey;
                    border-radius: 0 3px 3px 0;
                    box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                inset 1px 0 0 0 rgba(0,0,0, 0.2),
                                inset 0 -1px 0 0 rgba(0,0,0, 0.2),
                                inset 0 0 0 0 rgba(255,255,255,0.0);

                    &:hover
                    {
                        box-shadow: inset 0 1px 0 0 rgba(255,255,255, 0.2),
                                    inset 1px 0 0 0 rgba(0,0,0, 0.2),
                                    inset 0 -1px 0 0 rgba(0,0,0, 0.2),
                                    inset -25px 15px 30px 0px rgba(255,255,255,0.1);
                    }

                    i /* icon */
                    {
                        color: rgba(30,30,30,0.7);
                    }
                }
            }

            @include media($mobile)
            {
                a.big.button
                {
                    font-size: 13pt !important;
                    width: 150px !important;

                    &:first-child
                    {
                        padding: 14px 10px 11px 6px;
                    }

                    &:not(:first-child)
                    {
                        padding: 14px 10px 11px;
                    }
                    
                    span
                    {
                        font-size: 10.5pt;
                    }

                    i
                    {
                        font-size: 16pt !important;
                        margin-right: 4px;
                    }

                    p
                    {
                        font-size: 7pt !important;
                        margin-left: 52px !important;
                    }

                    &:not(.primary) p
                    {
                        margin-left: 45px !important;
                    }
                }
            }
        }
    }

}
