#splash-news
{
    @include outer-container;
    padding: 0 10px;

    h1
    {
        padding-bottom: 15px;
    }

    h1, h2, h3
    {
        margin: 0;

        a
        {
            @include link($color-base-text, $color-base-link-hover);
        }
    }

    & > div:first-child
    {
        @include span-columns(5);
    }

    & > div:not(:first-child)
    {
        @include span-columns(7);
    }

    #splash-news-blogs
    {
        dl
        {
            font-size: 10pt;
            line-height: 1.5;
            margin: 0;

            dt
            {
                font-weight: 400;
            }

            dd
            {
                margin: 0;
                
                &:not(last-child)
                {
                    padding-bottom: 10px;
                    font-size: 9pt;
                    color: lighten($color-base-text, 10%);
                }
            }

        }
    }

    #splash-news-tweets
    {
        margin-top: 25px;

        iframe
        {
            margin-bottom: -4px;
        }

        li
        {
            clear: both;
            font-size: 9.5pt;
            padding: 5px 0;

            & > a > img
            {
                width: 24px;
                border: 1px solid rgb(150,150,150);
                margin: 0 5px 5px 0;
                @include border-radius(2px);
            }

            .tweet
            {
                display: block;
                margin-left: 29px;
            }

            .icons
            {
                float: right;
                opacity: 0.2;
                max-width: 24px;
                line-height: 10pt;
                text-align: center;

                @include transition(opacity 0.2s ease-in-out);

                .icon-twitter
                {
                    font-size: 24px;
                }

                .icon-retweet
                {
                    cursor: default;
                }

                a
                {
                    border: 0;
                }
            }

            &:hover
            {
                .icons
                {
                    opacity: 1;
                }
            }
        }

    }

    #splash-news-testimonials .testimonial
    {
        blockquote
        {
            height: 100px;
            width: 90%;
            
            position: relative;
            line-height: 1.2;
            text-align: center;
            margin: auto;
            font-size: 16pt;
            font-style: italic;
        }

        & > span
        {
            display: block;
            text-align: center;
            font-size: 9pt;
            margin-top: 15px;
        }

        %quotes
        {
            position: absolute;
            font-size: 30pt;
            font-weight: bold;
            vertical-align: middle;
        }

        blockquote:after
        {
            @extend %quotes;
            content: "”";
            right: -20px;
            bottom: -10px;
        }

        blockquote:before
        {
            @extend %quotes;
            content: "“";
            left: -20px;
            top: 0;
        }
    }

    #splash-news-testimonials,
    #splash-news-screencasts
    {
        margin-right: 0;
    }

    #splash-news-screencasts
    {
        margin-top: 25px;
        text-align: center;

        h1
        {
            text-align: left;
        }

        @include outer-container;

        a
        {
            @include span-columns(3.8);
            @include shift(0.1);
            @include block-link();
            
            position: relative;
            display: block;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 10.5pt;
            line-height: 1.3;

            i
            {
                position: absolute;
                font-size: 48px;
                left: 50%;
                top: 50%;
                margin-left: -24px;
                margin-top: -28px;
            }

            span
            {
                display: block;
                width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            figure
            {
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 55%;
                margin-bottom: 5px;
                background-size: cover;
                background-position: 0 -20px;
            }
        }
    }

    @include media($tablet)
    {
        & > div:first-child,
        & > div:not(:first-child)
        {
            @include span-columns(12);
        }

        & > div:first-child
        {
            @include outer-container();

            & > div
            {
                @include span-columns(6);
            }
        }

        #splash-news-tweets
        {
            margin-top: 0;
        }

        #splash-news-testimonials h1
        {
            margin-top: 25px;
        }
    }

    @include media($mobile)
    {
        & > div:first-child,
        & > div:not(:first-child)
        {
            @include span-columns(12);
        }

        & > div:first-child
        {
            & > div
            {
                @include span-columns(12);
            }
        }

        #splash-news-tweets
        {
            margin-top: 25px;
        }

        #splash-news-screencasts a
        {
            @include span-columns(5.7);
        }
    }

}
