#splash-news
{
    @include outer-container;
    padding: 0 10px;

    h1
    {
        padding-bottom: 15px;
    }

    h1, h2, h3
    {
        margin: 0;
    }

    #splash-news-blogs
    {
        @include span-columns(5);

        dl
        {
            font-size: 10pt;
            line-height: 1.5;
            margin: 0;

            dt
            {
                font-weight: 400;
            }

            dd
            {
                margin: 0;
                
                &:not(last-child)
                {
                    padding-bottom: 10px;
                    font-size: 9pt;
                    color: lighten($color-base-text, 10%);
                }
            }

        }
    }

    #splash-news-testimonials .testimonial
    {
        blockquote
        {
            height: 100px;
            width: 90%;
            
            position: relative;
            line-height: 1.2;
            text-align: center;
            margin: auto;
            font-size: 16pt;
            font-style: italic;
        }

        & > span
        {
            display: block;
            text-align: center;
            font-size: 9pt;
            margin-top: 15px;
        }

        %quotes
        {
            position: absolute;
            font-size: 30pt;
            font-weight: bold;
            vertical-align: middle;
        }

        blockquote:after
        {
            @extend %quotes;
            content: "”";
            right: -20px;
            bottom: -10px;
        }

        blockquote:before
        {
            @extend %quotes;
            content: "“";
            left: -20px;
            top: 0;
        }
    }

    #splash-news-testimonials,
    #splash-news-screencasts
    {
        @include span-columns(7);
        margin-right: 0;
    }

    #splash-news-screencasts
    {
        margin-top: 25px;
        text-align: center;

        h1
        {
            text-align: left;
        }

        @include outer-container;

        a
        {
            @include span-columns(3.8);
            @include shift(0.1);
            display: block;
            margin-bottom: 15px;
            font-weight: bold;
            font-size: 10.5pt;
            line-height: 1.3;

            span
            {
                display: block;
                width: 90%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            figure
            {
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 56.25%;
                margin-bottom: 5px;
                background-size: cover;
                background-position: 0 -20px;

                @include box-shadow(0 0 6px 0 rgba(0,0,0,0.1));
            }
        }
    }

    @include media($tablet)
    {
        #splash-news-blogs,
        #splash-news-testimonials
        {
            @include span-columns(5.8);
        }

        #splash-news-screencasts
        {
            @include span-columns(12);
        }
    }

    @include media($mobile)
    {
        #splash-news-blogs,
        #splash-news-testimonials
        {
            @include span-columns(12);
        }

        #splash-news-testimonials h1
        {
            margin-top: 25px;
        }

        #splash-news-screencasts a
        {
            @include span-columns(5.7);
        }
    }
}
