@import "_modules/depend/variables";

@import "_modules/depend/normalize";
@import "../../../node_modules/node-bourbon/assets/stylesheets/bourbon";
@import "../../../node_modules/node-neat/assets/stylesheets/neat";
@import "../../public/vendor/Font-Awesome/scss/font-awesome";

/* Include it again, cause Bourbon overrides some of our variables, grrr */
@import "_modules/depend/variables";

@import "_modules/depend/helpers";
@import "_modules/depend/colors";
@import "_modules/depend/cosmetic";
@import "_modules/ui";
@import "_modules/vendor";
@import "_modules/base";
@import "_modules/layout";
@import "_modules/header";
@import "_modules/footer";
@import "_modules/sidebars";
@import "_modules/framed";
@import "_modules/slideshow";

@import "_modules/pages/splash";
@import "_modules/pages/screencast";
@import "_modules/pages/blog";
@import "_modules/pages/features";
@import "_modules/pages/buy";
@import "_modules/pages/edit";
@import "_modules/pages/download";
@import "_modules/pages/customize";
@import "_modules/pages/startpage";
@import "_modules/pages/authors";
@import "_modules/pages/screencasts";
@import "_modules/pages/resources";

@import "_modules/highlightjs";

html, body
{
    height: 100%;
}

