<div id="personal-buy" class="hide" title="Do You Qualify?">
    <h3>
        You qualify for a Personal License if -
    </h3>

    <ul class="disc">
        <li>
            You are purchasing this using your own funds
        </li>
        <li>
            You are not being reimbursed by a company for your purchase
        </li>
        <li>
            You agree to the Personal Edition License Agreement referenced below
        </li>
    </ul>

    <p>
        If you are looking to have your company purchase a license
        for you or you wish to purchase licenses for your company
        please check out the Enterprise License.
    </p>

    <hr>

    <p>
        <small>
            BY PURCHASING AND/OR INSTALLING THE SOFTWARE, OR, WHERE APPLICABLE, CHOOSING
            THE “I ACCEPT…” OPTION, YOU INDICATE THAT YOU HAVE READ,
            UNDERSTOOD AND ACCEPT THE
            <a href="http://www.activestate.com/komodo-ide/license-agreement">TERMS AND CONDITIONS OF THE LICENSE (the “License
                Agreement)
            </a>
            . THIS LICENSE AGREEMENT SET FORTH THE TERMS OF YOUR
            SOFTWARE LICENSE AND OVERRIDES THE TERMS FOUND IN THE
            INSTALLERS.
        </small>
    </p>

    <div class="centered">
        <p>
            <input type="checkbox" id="personal-accept" data-enables="buy-personal, #buy-personal_wus">
            <label for="personal-accept">
                I Accept
                <a href="http://www.activestate.com/komodo-ide/license-agreement">
                    The License Agreement
                </a>
            </label>
        </p>
        <p>
            <a href="https://store.activestate.com/cart/add/p195_q1?destination=cart" id="buy-personal" class="button primary big disabled" data-analytics="buy:personal:commit">
                Buy Personal License ($99)
            </a>
        </p>
        <p>
            <a href="https://store.activestate.com/cart/add/p197_q1?destination=cart" id="buy-personal_wus" class="button primary big disabled" data-analytics="buy:personal_wus:commit">
                Buy With Upgrades & Support ($138)
            </a>
        </p>
    </div>
</div>
