<div id="personal-info" class="hide" title="Personal License Details">
    <p>
        The Komodo Personal license is meant for individuals that are purchasing Komodo
        using their own funds. You cannot be reimbursed for your purchase by a company.
        You may not buy more than one Personal Edition license (no bulk purchases).
    </p>

    <p>
        You may not include an "Upgrades and Support" subscription with a Personal license.
        You may purchase upgrades to new major versions of the software, however we
        currently do not have a specific upgrade path for the Personal license, as such
        only the enterprise upgrade pricing is available to you at this time.
    </p>
    <p>
        Specific upgrade pricing for the Personal license will likely follow in the
        future, even before a new major version of the software is released.
    </p>

    <p>
        Minor updates to the software (eg. 8.5.x) are included in this license, you
        will not be charged for them.
    </p>

    <p>
        The Personal license is non-transferrable. It allows you to use Komodo on
        more than one computer or on a network, so long as you are the sole user
        of the software.
    </p>

    <p>
        Please see the
        <a href="http://www.activestate.com/komodo-ide/license-agreement">
            License Agreement
        </a>
        for further details.
    </p>
</div>
