<% unless get_basename() == "download" %>

<div class="centered">
    <a href="/download" class="button primary big">
        <i class="icon icon-download"></i> &nbsp; Download Komodo
    </a>
</div>

<% end %>

<div class="centered">
    <a href="/pricing" class="button big">
        <i class="icon icon-shopping-cart"></i> &nbsp; Buy Komodo
        <% if data.promotions.buttons.enabled %>
            <div class="promotion badge">
                ON SALE
            </div>
        <% end %>
    </a>
</div>

<h2>Releases</h2>

<ul class="disc">
    <li>
        Komodo IDE/Edit 10.1.1 -
        <a href="http://downloads.activestate.com/Komodo/releases/10.1.1/">archive</a>
        |
        <a href="/changelog/latest">changelog</a>
    </li>
</ul>
<a href="http://downloads.activestate.com/Komodo/releases/">View Full Archive</a>
|
<a href="http://downloads.activestate.com/Komodo/nightly/">Nightly Builds</a>

<h2>Changelogs</h2>

<ul class="disc">
    <li>
        <a href="/changelog/latest">Komodo IDE/Edit 10.* (May 2016)</a>
    </li>
    <li>
        <a href="/changelog/ide-9">Komodo IDE/Edit 9.* (March 2015)</a>
    </li>
    <li>
        <a href="/changelog/ide-8">Komodo IDE/Edit 8.5.* (August 2014)</a>
    </li>
    <li>
        <a href="/changelog/ide-8">Komodo IDE/Edit 8.* (March 2013)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-7.html">Komodo IDE/Edit 7.* (February 2012)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-6.1.html">Komodo IDE/Edit 6.1.* (February 2011)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-6.0.html">Komodo IDE/Edit 6.0.* (October 2010)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-5.2.html">Komodo IDE/Edit 5.2.* (August 2009)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-5.1.html">Komodo IDE/Edit 5.1.* (March 2009)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-5.0.html">Komodo IDE/Edit 5.0.* (November 4, 2008)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-4.4.html">Komodo IDE/Edit 4.4.* (June 24, 2008)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-4.3.html">Komodo IDE/Edit 4.3.* (March 6, 2008)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/ide-4.2.html">Komodo IDE/Edit 4.2.* (September 17, 2007)</a>
    </li>
    <li>
        <a href="http://docs.activestate.com/komodo/latest/releases/old.html#ko41">Komodo IDE/Edit 1.1 to 4.1.1</a>
    </li>
</ul>
