---
title: Komodo IDE for Development
description: Highlights of Komodo feature changes. Spans from Komodo v6 to v9. 
socialDescription: Komodo IDE for Go Development
dontNormalize: true
priority: 0.0
classNames: no-grid
image: /assets/images/screenshots/splash/mac-splash-go.png
---

<div id="splash-header-outer">
    <div id="splash-header">
        
        <div class="assistance">
            <div class="inner">
                <div id="lpButDivID-1279824964197"></div>
            </div>
        </div>
    
        <h1>What's New in Komodo?</h1>
        <!--<h2>Komodo: the Go Language IDE</h2>-->
        <div id="splash-description">
            <p>Komodo has been around for over 15 years and with each new release we've worked hard to continually provide you with new features that make your job easier.
                </p>
                    <p>&nbsp;</p>
               <p>Below highlights Komodo's evolution since version 5 -- but you can <a href="/download">try it</a> for yourself and test out all these great features! Start your free <a href="/download">21-day trial of Komodo IDE 9</a>, or <a href="/pricing">buy a copy</a> and save $100 when you use promo code KMDO5UP during October. 
            </p>
                
       <!--     <div class="quick-features">
                <ul class="disc">
                    <li>Write quality code</li>
                    <li>Integrated database support</li>
                    <li>Write user scripts agains the Komodo APIs.</li>
                    <li>Leverage version control and unit testing</li>
                </ul>
                <ul class="disc">
                    <li>Syntax Checking</li>
                    <li>Customize your environment</li>
                    <li>Go Code Intelligence: code browsing, code hinting</li>
                    <li>Install on Windows, Mac, Linux<br/>
                        .. or all three OSes – with just one license</li>
                </ul>
            </div>
        -->
        </div>
    
        <div id="splash-download-wrap">
            <div id="splash-download-buttons">
                <a class="button primary big" href="/download">
                    <i class="icon icon-download"></i> Try Now
                    <p>21 day fully functional trial</p>
                </a>
                <a class="button big <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                    <i class="icon icon-shopping-cart"></i> Buy Now
                    <p>Choose the right license for you</p>
                    <% if data.promotions.buttons.enabled %>
                        <div class="promotion badge">
                            ON SALE
                        </div>
                    <% end %>
                </a>
            </div>
        </div>
    
        <div id="splash-screenshots">
            <figure class="splash-windows secondary"></figure>
            <figure class="splash-osx primary"></figure>
            <figure class="splash-linux tertiary"></figure>
        </div>
    </div>
</div>
<div class="outer">
<div class="inner">

   <ul class="block" style="margin: auto; width: 70%; padding: 30px;">
        <li style="float: left;  width: 25%; border:1px solid gray; padding: 20px;">         
            <h2>v9: Apr 2015 - Present</h2>
            <ul>
                <li>Track Changes</li>
                <li>Markdown Viewer</li>
                <li>GoLang Support</li>
                <li>Commando</li>
                <li>Package Manager Integration</li>
                <li>Real-time (in-line) spell checking</li>
                <li>Docker and Vagrant Integration</li>
                <li>Collaboration Overhaul</li>
                <li>Focus Mode (aka Distraction Free Mode)</li>
            </ul>
        </li>
        <li style="float: left;  width: 25%; border: 1px solid gray; position: relative; padding: 20px;">         
            <h2>v8: 2013 - Apr 2015</h2>

            <ul>
                <li>New UI</li>
                <li>Minimap Scrollbar</li>
                <li>Customizable panes/widgets</li>
                <li>Code Refactoring</li>
                <li>Abyss Skin (dark skin)</li>
                <li>Breadcrumb Navigation</li>
                <li>Open Files widget</li>
                <li>Multiple Cursor Editing</li>
                <li>Unified Menu Button</li>
                <li>Custom Skins and Icons</li>
            </ul>
        </li>
        <li style="float: left;  width: 25%; border: 1px solid gray; position: relative; padding:20px;">         
            <h2>v7: 2012 - 2013</h2>
            <ul>
            <li>Variable Highlighting</li>
            <li>Language Extension - allows users to easily create their own language variations</li>
            <li>Komodo Profile Sync</li>
            <li>Code Collaboration</li>
            <li>Fast Find Widget</li>
            <li>Movable Widgets</li>
            <li>Customizable Toolbar</li>
            </ul>
        </li>
        
        <li style="float: left; width: 25%; border: 1px solid gray; position: relative; padding:20px;">         
            <h2>v6: 2010 - 2012</h2>
            <ul>
            <li>File Browser Succeeded by "Places"</li>
            <li>Database Explorer</li>
            <li>File Publishing (upload to remote servers, eg. FTP)</li>
            <li>Code Collaboration</li>
            <li>Workspaces</li>
            <li>Rewrites of several core components</li>
            </ul>
        </li>
    </ul>
</div>
</div>
    <div class="clearfix"></div>


<p>&nbsp;</p>
    <div class="try-buy-buttons centered">
        <div class="inner">
            <a class="button big primary" href="/download">
                <i class="icon icon-download"></i> Try Komodo IDE
            </a>
            <a class="button big <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
                <% if data.promotions.buttons.enabled %>
                    <div class="promotion badge">
                        ON SALE
                    </div>
                <% end %>
            </a>
        </div>
    </div>
</div>

<!-- LivePerson -->
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script>