---
title: Komodo IDE for Development - Feature highlights of Komodo 8 and Komodo 9
description: Highlights of Komodo feature changes for Komodo 8 and Komodo 9. 
socialDescription: Highlights of Komodo IDE v8 and Komodo IDE v9
dontNormalize: true
priority: 0.0
classNames: no-grid promos splash-page
image: /assets/images/screenshots/splash/mac-splash-go.png
---

<div id="splash-header-outer">
    <div id="splash-header">
        
        <div class="assistance">
            <div class="inner">
                <div id="lpButDivID-1279824964197"></div>
            </div>
        </div>
    
        <h1>What's New in Komodo?</h1>
        <div id="splash-description">
            <p>Komodo has been around for over 15 years and with each new release we've worked hard to continually provide you with new features that make your job easier.
                </p>
                    <p>&nbsp;</p>
                <p>Below highlights Komodo's evolution since version 7 -- but you can <a href="/download">try it</a> for yourself and test out all these great features! Start your free <a href="/download">21-day trial of Komodo IDE 9</a>, or <a href="https://store.activestate.com/komodo-ide">buy a copy</a> and save $100 when you use promo code KMDO7UP during October. 
            </p>
        </div>
    
        <div id="splash-download-wrap">
            <div id="splash-download-buttons">
                <a class="button primary big" href="/download">
                    <i class="icon icon-download"></i> Try Now
                    <p>21 day fully functional trial</p>
                </a>
                <a class="button big <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                    <i class="icon icon-shopping-cart"></i> Buy Now
                    <p>Choose the right license for you</p>
                    <% if data.promotions.buttons.enabled %>
                        <div class="promotion badge">
                            ON SALE
                        </div>
                    <% end %>
                </a>
            </div>
        </div>
    
        <div id="splash-screenshots">
            <figure class="splash-windows secondary"></figure>
            <figure class="splash-osx primary"></figure>
            <figure class="splash-linux tertiary"></figure>
        </div>
    </div>
</div>

<div class="container">
    <h2>v9: Apr 2015 - Present</h2>
    <p class="description">
        The most recent version of Komodo continued to focus on a
        crisper UI as well as adding some integration with today's
        most popular technologies such as Docker and Vagrant. But of
        course, we didn't stop there. Take a look at the some of the
        most recent additions to Komodo.
    </p>
        
    <div class="try-buy-buttons push-right">
        <div class="spacer"></div>
        <a class="button primary big" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <div class="spacer"></div>
        <a class="button big" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
        </a>
    </div>
    
    <ul class="disc description">
        <li>Track Changes <a href="/screencasts/track-changes/"><i class="icon icon-film"></i></a></li>
        <li>Markdown Viewer <a href="/screencasts/markdown-viewer/"><i class="icon icon-film"></i></a></li>
        <li>GoLang Support</li>
        <li>Commando (Go to Anything) <a href="/screencasts/commando-go-to-anything/"><i class="icon icon-film"></i></a></li>
        <li>Package Manager Integration <a href="/screencasts/package-manager-integration/"><i class="icon icon-film"></i></a></li>
        <li>Real-time (in-line) spell checking</li>
        <li>Docker and Vagrant Integration</li>
        <li>Collaboration Overhaul</li>
        <li>Focus Mode (aka Distraction Free Mode)</li>
    </ul>
    <p><a href="/blog/komodo-9-2-released-docker-and-vagrant-integration-package-installer-and/">Read More</a></p>
</div>
<hr>

<div class="container">
    <h2>v8: 2013 - Apr 2015</h2>
    <p class="description">
        Komodo 8 is the first version with a new, modern UI. It looked
        significantly different from its earlier versions (which you will
        see when you download Komodo 9) and introduced a completely new
        monochrome icon set and skin. The skinning system was built using
        modern web technologies so that anyone is able to use them.
    </p>
    <p class="description">Other notable changes included:</p>
        
    <div class="try-buy-buttons push-right">
        <div class="spacer"></div>
        <a class="button primary big" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <div class="spacer"></div>
        <a class="button big" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
        </a>
    </div>
    
    <ul class="disc description">
        <li>New UI</li>
        <li>Minimap Scrollbar</li>
        <li>Customizable panes/widgets <a href="/screencasts/customizable-panes/"><i class="icon icon-film"></i></a></li>
        <li>Code Refactoring <a href="/screencasts/code-refactoring/"><i class="icon icon-film"></i></a></li>
        <li>Abyss Skin (dark skin) <a href="/screencasts/abyss-dark-ui-theme/"><i class="icon icon-film"></i></a></li>
        <li>Breadcrumb Navigation</li>
        <li>Open Files widget <a href="/screencasts/open-files-widget/"><i class="icon icon-film"></i></a></li>
        <li>Multiple Cursor Editing</li>
        <li>Unified Menu Button</li>
        <li>Custom Skins and Icons</li>
    </ul>
    <p><a href="/blog/2013-09/komodo-8-5-release/">Read More</a></p>
</div>
<!--<hr>
   <div class="container">
    <h2>v7: 2012 - 2013</h2>
    <p class="description">
        Komodo 7 made some slight UI changes; notably it integrated parts of
        the Aero Theme created by Stan Angeloff. It also introduced the
        ability for IDE users to sync their preferences to the cloud, such
        that their preferences would remain the same between multiple Komodo
        installs.
    </p>
    <p class="description">Other notable changes included:</p>
        
    <div class="try-buy-buttons push-right">
        <div class="spacer"></div>
        <a class="button primary big" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <div class="spacer"></div>
        <a class="button big" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
        </a>
    </div>
    
    <ul class="disc description">
        <li>Variable Highlighting</li>
        <li>Language Extension - allows users to easily create their own language variations</li>
        <li>Komodo Profile Sync</li>
        <li>Code Collaboration</li>
        <li>Fast Find Widget</li>
        <li>Movable Widgets</li>
        <li>Customizable Toolbar</li>
    </ul>
</div>
<hr>


<div class="container">
    <h2>v6: 2010 - 2012</h2>
    <p class="description">
        Version 6 polished the new UI introduced in Komodo IDE 5, but also
        introduced the vertical tabs in the sidebars.
    </p>
    <p class="description">Other notable changes included:</p>
        
    <div class="try-buy-buttons push-right">
        <div class="spacer"></div>
        <a class="button primary big" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <div class="spacer"></div>
        <a class="button big" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
        </a>
    </div>
    
    <ul class="disc description">
        <li>File Browser Succeeded by "Places"</li>
        <li>Database Explorer</li>
        <li>File Publishing (upload to remote servers, eg. FTP)</li>
        <li>Code Collaboration</li>
        <li>Workspaces</li>
        <li>Rewrites of several core components</li>
    </ul>
</div>-->

