---
title: Komodo Startpage
layout: startpage
---

<% promo = data.promotions.startpage.old %>
<% if promo.enabled %>
<a class="promotion" title="<%= promo.tooltip %>" href="<%= promo.link %>">
    <div class="inner">
        <%= promo.description %>
    </div>
</a>
<% end %>

<div class="wrapper">
    <img src="/assets/images/misc/ko9box.png" align="left">
    <h1>Your software is out of date!
        <br/>Try the <a href="http://komodoide.com?utm_source=komodostartpages&utm_medium=komodoideandedit&utm_term=&utm_content=download&utm_campaign=v5">new Komodo 9</a> or<br/>
        <a href="http://komodoide.com/pricing/?utm_source=komodostartpages&utm_medium=komodoideandedit&utm_term=&utm_content=buy&utm_campaign=v5">buy Komodo 9 today</a>.
    </h1>
</div>
