---
title: Komodo Startpage
layout: startpage
---

<% promo = data.promotions.startpage.old %>
<% if promo.enabled %>
<a class="promotion" title="<%= promo.tooltip %>" href="<%= promo.link %>">
    <div class="inner">
        <%= promo.description %>
    </div>
</a>
<% end %>

<div class="wrapper">
    <img src="/assets/images/misc/ko9box.png" align="left">
    <h1>Your software is out of date!
        <br/>Try the <a href="http://komodoide.com/download/">new Komodo 9</a>
        <br/>or use <strong>coupon KMDO6UP to <a href="https://store.activestate.com/komodo-ide"> save $100</strong> until July 31</a>.
    </h1>
</div>
