---
title: Komodo Startpage
layout: startpage
---

<% promo = data.promotions.startpage.old %>
<% if promo.enabled %>
<a class="promotion" title="<%= promo.tooltip %>" href="<%= promo.link %>">
    <div class="inner">
        <%= promo.description %>
    </div>
</a>
<% end %>

<h1>Komodo 9.0 is Out!</h1>
<p>New UI, file management, editing features, and more</p>
<a href="http://www.komodoide.com/features" class="button primary">What's New?</a>
<a href="http://www.komodoide.com/download" class="button primary">Download</a>
