*
{
    @include box-sizing(border-box);
}

html, body
{
    height: 100%;
}

body
{
    font-family: $font-base;
    font-weight: 300;
    font-size: 11pt;

    color: $color-base-text;
    background: $color-base-background;
}

a
{
    @include link($color-base-link, $color-base-link-hover);
}

h1
{
    font-size: 16pt;
    font-weight: bold;
}

h2
{
    font-size: 14pt;
    font-weight: normal;
}

h3
{
    font-size: 12pt;
    font-weight: normal;
}

p
{
    line-height: 1.5;
}

ul, ol
{
    line-height: 1.4;
}


