html, body
{
    height: 100%;
}

body
{
    font-family: @font-base;
    font-weight: 300;
    font-size: 11pt;

    color: @color-base-text;
    background: @color-base-background;
}

a
{
    .transition(color 0.2s);
    color: @color-base-link;

    &:hover
    {
        color: @color-base-link-hover;
    }
}

#container
{
    .background-image(linear-gradient(to bottom, rgba(237,237,237,1) 0%,rgba(206,206,206,1) 500px));
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -270px; /* the bottom margin is the negative value of the footer's height */
}

#content
{
    margin-bottom: 270px;
}

section[role="main"]
{
    /* Force float as for some reason the clearfix won't cut it */
    float: left;
}

aside
{
    position: relative;
    min-height: 100px;
}

h1
{
    font-size: 16pt
}

h2
{
    font-size: 14pt;
    font-weight: normal;
}

h3
{
    font-size: 12pt;
    font-weight: normal;
}

#side-border
{
    position: absolute;
    left: 4px;
    bottom: 0;
    width: 6px;
    min-height: 100%;

    .background-image(  linear-gradient(right bottom,
                        rgba(75,132,130,0.6) 0%,
                        rgba(75,132,130,0.6) 15%,
                        rgba(255,255,255,0) 15%,
                        rgba(255,255,255,0) 50%,
                        rgba(75,132,130,0.6) 50%,
                        rgba(75,132,130,0.6) 65%,
                        rgba(255,255,255,0) 65%));
    background-size: 4px 4px;
}

/* Under Construction Tape - TODO: Remove for production */
#under-construction-tape
{
    display: block;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: -80px;
    width: 400px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 18pt;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    border: 0 solid #000;
    border-width: 2px 0;
    .transform(rotate(-45deg));
    .box-shadow(0 0 4px 0 rgba(0,0,0,0.3));
    /* Thanks http://brettrawlins.com/css-background-patterns/ */
    .background-image(repeating-linear-gradient(135deg, #ebd007, #ebd007 30px, #555 30px, #555 60px));
}
