@import "compass/typography/lists";

header
{
    position: relative;
    width: 100%;
    min-height: 75px;
    color: $color-header-base;

    @include background-image(
        linear-gradient(300deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.8) 100%),
        url(../images/layout/header-bg.png)
    );

    h1, h2, h3
    {
        color: $color-header-textheading;
    }

    a
    {
        @include link($color-header-link, $color-header-link-hover);
    }

    .outer
    {
        background: rgba(0,0,0,0.2);
        min-height: 75px;

        .inner
        {
            @include outer-container;
        }
    }

    /* Logo */
    figure#header-logo
    {
        margin-top: 8px;
        width: 284px;
        height: 59px;
        background: url(../images/layout/komodo-logo.png) no-repeat;
    }

    nav
    {
        position: relative;
        margin-top: 24px;

        float: right;
        margin-left: 300px;

        ul
        {
            @include inline-block-list;

            li a
            {
                display: block;
                font-family: $font-header-nav;
                font-weight: 400;
                font-size: 13pt;
                color: $color-header-nav-link;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 1em;
                border: 0;

                &:hover
                {
                    color: $color-header-nav-link-hover;
                    text-decoration: none;
                    border: 0;
                }
            }
        }

    }

    .underline
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQImWOIWL5LigEKwjbs9GVA5sAlcXMYGBgAEEwPfa7qf48AAAAASUVORK5CYII=) repeat;
    }
}

