#container header,
body.framed header
{
    position: relative;
    width: 100%;
    min-height: 75px;
    color: $color-header-base;

    @include background-image(
        linear-gradient(300deg, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,0.8) 100%),
        url(../images/layout/header-bg.png)
    );

    h1, h2, h3
    {
        color: $color-header-textheading;
    }

    a
    {
        @include link($color-header-link, $color-header-link-hover);
    }

    .outer
    {
        background: rgba(0,0,0,0.2);
        min-height: 75px;

        .inner
        {
            @include outer-container;
        }
    }

    /* Logo */
    figure#header-logo
    {
        display: inline-block;
        margin-left: 5px;
        margin-top: 8px;
        width: 284px;
        height: 59px;
        background: url(../images/layout/komodo-logo.png) no-repeat;
        background-size: 100%;
    }

    .nav-push
    {
        height: 20px;
        width: 170px;
        float: right;
    }

    .button.collapser
    {
        display: none;
    }

    nav
    {
        position: relative;
        float: right;

        ul
        {
            list-style: none;
            margin: 0;
            padding: 0;

            li
            {
                display: inline-block;
            }
            
            li a
            {
                display: block;
                font-family: $font-header-nav;
                font-weight: 400;
                font-size: 13pt;
                line-height: 75px;
                vertical-align: middle;
                color: $color-header-nav-link;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0 15px;
                border: 0;

                &:hover
                {
                    color: $color-header-nav-link-hover;
                    text-decoration: none;
                    border: 0;
                }
            }
        }
    }

    @include media($nav-reduce)
    {
        nav ul li a
        {
            font-size: 12pt;
            padding: 0 10px;
        }
    }

    @include media($nav-reduce-further)
    {
        figure#header-logo
        {
            margin-top: 15px;
            width: 227px;
            height: 47px;
        }

        nav ul li a
        {
            font-size: 11.5pt;
            padding: 0 8px;
        }
    }

    @include media($nav-collapse)
    {
        .nav-wrap
        {
            display: relative;

            .collapser
            {
                position: relative;
                z-index: 110;
                display: block;
                font-size: 30px;
                margin-top: 15px;
                float: right;
            }

            nav:not(.expanded)
            {
                display: none;
            }

            nav
            {
                border-radius: 2px;
                position: absolute;
                z-index: 999;
                background: rgba(39, 45, 44, 0.9);
                text-align: right;

                top: 15px;
                right: 245px;

                li
                {
                    display: block;
                    width: 150px;

                    a
                    {
                        @include transition(color 0.2s ease-in-out, background 0.2s ease-in-out);
                        line-height: 45px;
                        font-size: 16pt;
                        font-weight: 300;

                        &:hover
                        {
                            background: rgba(255,255,255,0.1);
                        }
                    }
                }
            }
        }
    }

    @include media($mobile)
    {
        nav
        {
            right: 55px !important;
        }

        .nav-push
        {
            width: 10px;
        }
    }

    .underline
    {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 6px;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQImWOIWL5LigEKwjbs9GVA5sAlcXMYGBgAEEwPfa7qf48AAAAASUVORK5CYII=) repeat;
    }
}

