#container
{
    $c1: $color-base-gradient-1;
    $c2: $color-base-gradient-2;
    @include background-image(linear-gradient(to bottom, $c1 0px,$c2 330px,$c2 660px,$c1 1000px));
    
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -270px;
}

#content
{
    padding: 25px 0;

    &:not(.no-grid)
    {
        @include outer-container;

        article
        {
            padding: 10px;
            
        }

        &.sidebar
        {
            position: relative;
            
            & > section
            {
                @include span-columns(8);
            }

            & > aside
            {
                @include span-columns(4);
            }


            @include media($sidebar-collapse)
            {
                & > section
                {
                    @include span-columns(12);
                }

                & > aside
                {
                    position: absolute;
                    z-index: 110;
                }
            }
        }

        &:not(.sidebar)
        {
            & > section
            {
                @include span-columns(12);
            }
        }

    }
}

/*#content:after
{
    content: "";
    display: block;
}*/

footer, #footer_push
{
    height: 270px;
}

@include media($footer-reduce)
{
    #container
    {
        margin-bottom: -440px;
    }

    footer, #footer_push
    {
        height: 440px;
    }
}

aside
{
    position: relative;
    min-height: 100px;

    #side-border
    {
        position: absolute;
        left: -15px;
        bottom: 0;
        width: 6px;
        min-height: 100%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJUlEQVQYlWNgQAPnz5//j8zfu3fv/0GnAB1gU4BiCB0UMDAwAADQyTuz783q7AAAAABJRU5ErkJggg==) repeat;
    }
}

/* Under Construction Tape - TODO: Remove for production */
#under-construction-tape
{
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 180px;
    height: 180px;

    .inner
    {
        position: absolute;
        top: 70px;
        right: -120px;
        display: block;
        width: 400px;
        text-align: center;
        color: #FFF;
        font-weight: bold;
        font-size: 9pt;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.7);
        text-transform: uppercase;
        border: 0 solid #000;
        border-width: 1px 0;
        padding: 2px;
        @include transition(box-shadow 0.2s ease-in-out);
        @include transform(rotate(45deg));
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
        /* Thanks http://brettrawlins.com/css-background-patterns/ */
        @include background-image(repeating-linear-gradient(135deg, #827B55, #827B55 15px, #555 15px, #555 30px));

        &:hover
        {
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.5),
                        inset 0 0 0 400px rgba(0,0,0,0.2);
        }
    }
}

#under-construction
{
    display: none;
}

@include media($mobile)
{
    #under-construction-tape
    {
        display: none;
    }
}

/* Github Widgets */
.github-repositories
{
    h3, h2
    {
        margin-bottom: 0;
    }

    p
    {
        margin-top: 0;
        color: lighten($color-base-text, 10%);
    }
}

.github-commits-wrap
{
    .github-commits
    {
        font-size: 9pt;

        ul
        {
            padding: 0;

            li
            {
                display: block;
                margin-bottom: 5px;
                min-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .github-user
        {
            img
            {
                margin-right: 3px;
                vertical-align: middle;
                border: 1px solid rgba(0,0,0,0.4);
            }

            a
            {
                font-weight: bold;
            }

            &:after
            {
                content: ":";
                margin-right: 5px;
            }
        }

        .github-commit
        {
            color: $color-base-text;
            border: 0;
        }

        .github-commit-date
        {
            display: none;
        }
    }

}

/* Pagination */

.pagination
{
    margin-top: 25px;
    text-align: center;
    
    ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        font-weight: bold;

        li
        {
            display: inline-block;
        }
    }
}
