#container
{
    $c1: $color-base-gradient-1;
    $c2: $color-base-gradient-2;
    @include background-image(linear-gradient(to bottom, $c1 0px,$c2 330px,$c2 660px,$c1 1000px));
    
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 0 -270px;
}

#content
{
    padding: 25px 0;

    &:not(.no-grid){
        @include outer-container;

        &.sidebar
        {
            & > section
            {
                @include span-columns(8);
            }

            & > aside
            {
                @include span-columns(4);
            }
        }

        &:not(.sidebar)
        {
            & > section
            {
                @include span-columns(12);
            }
        }
    }
}

/*#content:after
{
    content: "";
    display: block;
}*/

footer, #footer_push
{
    height: 270px;
}

aside
{
    position: relative;
    min-height: 100px;

    #side-border
    {
        position: absolute;
        left: -15px;
        bottom: 0;
        width: 6px;
        min-height: 100%;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJUlEQVQYlWNgQAPnz5//j8zfu3fv/0GnAB1gU4BiCB0UMDAwAADQyTuz783q7AAAAABJRU5ErkJggg==) repeat;
    }
}

/* Under Construction Tape - TODO: Remove for production */
#under-construction-tape
{
    display: block;
    position: fixed;
    z-index: 100;
    top: 100px;
    left: -80px;
    width: 400px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    font-size: 18pt;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    text-transform: uppercase;
    border: 0 solid #000;
    border-width: 2px 0;
    padding: 2px;
    @include transform(rotate(-45deg));
    @include box-shadow(0 0 4px 0 rgba(0,0,0,0.3));
    /* Thanks http://brettrawlins.com/css-background-patterns/ */
    @include background-image(repeating-linear-gradient(135deg, #ebd007, #ebd007 30px, #555 30px, #555 60px));
}

#under-construction
{
    display: none;
}

/* Github Widgets */
.github-repositories
{
    h3
    {
        margin-bottom: 0;
    }

    p
    {
        margin-top: 0;
        color: lighten($color-base-text, 10%);
    }
}

.github-commits-wrap
{
    .github-commits
    {
        font-size: 9pt;

        ul
        {
            padding: 0;

            li
            {
                display: block;
                margin-bottom: 5px;
                min-width: 0;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .github-user
        {
            img
            {
                margin-right: 3px;
                vertical-align: middle;
                border: 1px solid rgba(0,0,0,0.4);
            }

            a
            {
                font-weight: bold;
            }

            &:after
            {
                content: ":";
                margin-right: 5px;
            }
        }

        .github-commit
        {
            color: $color-base-text;
            border: 0;
        }

        .github-commit-date
        {
            display: none;
        }
    }

}
