---
title: Komodo License Comparison
layout: default
description: Compare the Komodo licenses
priority: 0.1
published: true
---

<div class="assistance">
    <div class="inner">
        <div id="lpButDivID-1279824964197"></div>
    </div>
</div>

<h1 class="centered">
    Komodo IDE License Comparison
</h1>

<% if data.promotions.global.enabled %>
    <h2 class="promotion global">
        <a href="<%= data.promotions.global.link %>">
            <%= data.promotions.global.description %>
        </a>
    </h2>
<% end %>

<div class="centered">
    <table class="centered">
        <thead>
            <tr>
                <th width="300"></th>
                <th>Komodo IDE "Personal"</th>
                <th>Komodo IDE</th>
                <th>Pro Studio</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th width="100">Price per license</th>
                <td>$99</td>
                <td>
                    <% if data.promotions.prices.komodo %>
                        <del>$295</del> $<%= data.promotions.prices.komodo %></big>
                    <% else %>
                        $295
                    <% end %>
                </td>
                <td>
                    <% if data.promotions.prices.prostudio %>
                        <del>$595</del> $<%= data.promotions.prices.prostudio %></big>
                    <% else %>
                        $595
                    <% end %>
                </td>
            </tr>
            <tr>
                <th>All Komodo Features Included</th>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Perl Dev Kit or Tcl Dev Kit Included</th>
                <td></td>
                <td></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Billed To Company or Individual</th>
                <td>Individual ONLY<br/>see restrictions<sup>1</sup></td>
                <td>Individual or Company</td>
                <td>Individual or Company</td>
            </tr>
            <tr>
                <th>Commercial Use Permitted</th>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>License Transferrable</th>
                <td></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Bulk Purchases Allowed</th>
                <td></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Upgrades Available</th>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span></td>
            </tr>
            <tr>
                <th>Upgrades &amp; Support Plan Available</th>
                <td></td>
                <td><span class="check">✓</span></td>
                <td><span class="check">✓</span><br/>(included for 1st year)</td>
            </tr>
                </tbody>
    </table>
</div>

<h2 class="centered">
    <a href="/pricing">Back to the Pricing page</a>
</h2>

<p class="centered">
    <small>
        <sup>1</sup> Only available to students, freelancers and individuals who
        will not be reimbursed by a company or employer. See
        <a href="http://www.activestate.com/komodo-ide/license-agreement">full license terms</a>.
    </small>
</p>

<!-- LivePerson -->
<script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script>
