@font-base: 'Merriweather Sans', sans-serif;
@font-header-nav: 'Source Sans Pro';

.header-link
{
    font-family: @font-header-nav;
    font-size: 13pt;
    color: @color-header-link;
    text-transform: uppercase;

    &:hover
    {
        color: @color-header-link-hover;
        text-decoration: none;
    }
}
