$font-base: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-header-nav: "Source Sans Pro", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$font-impact: "Open Sans", Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans serif;
$font-mono: Monaco, Consolas, "Lucida Console", monospace;

*
{
    /* Fix bold looking text on OSX */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%button
{
    font-size: 9.5pt;
    font-weight: bold;
    padding: 8px;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.30);
    border: 0;
    cursor: pointer;
    display: inline-block;
    @include transition(box-shadow 0.2s ease-in-out, color 0.2s ease-in-out);
    @include border-radius(2px);
    &:hover
    {
        @include box-shadow(
            inset 0px 1px 0px 0px rgba(255,255,255, 0.2),
            inset 0px -1px 0px 0px rgba(0,0,0, 0.2),
            inset 0 0 0 500px rgba(255,255,255,0.05),
            0 0 6px 0 rgba(0,0,0,0.3)
        );
    }
}

%button-green-text-inset
{
    text-shadow: 1px 1px 0 rgba(255,255,255, 0.15);
    color: rgba(22, 45, 44, 0.7);

    &:hover
    {
        color: rgba(22, 45, 44, 0.6);
    }
}

%button-grey-text-inset
{
    text-shadow: 1px 1px 0 rgba(255,255,255, 0.15);
    color: rgba(20, 20, 20, 0.75);

    &:hover
    {
        color: rgba(20, 20, 20, 0.65);
    }
}

%button-green
{
    @extend %button;
    @include box-shadow(
         inset 0px 1px 0px 0px rgba(255,255,255, 0.2),
         inset 0px -1px 0px 0px rgba(0,0,0, 0.3),
         0 0 6px 0 rgba(0,0,0,0.3)
    );
    @include gradient-green;
}

%button-grey
{
    @extend %button;
    @include box-shadow(
         inset 0px 1px 0px 0px rgba(255,255,255, 0.2),
         inset 0px -1px 0px 0px rgba(0,0,0, 0.2),
         0 0 6px 0 rgba(0,0,0,0.3)
    );
    @include gradient-grey;
}

%textured-box
{
    text-align: center;
    border-radius: 3px;
    @include background-image(
        linear-gradient(left, rgba(0,0,0,0.4) 0%,rgba(53,100,99,0.3) 45%,rgba(53,100,99,0.3) 55%,rgba(0,0,0,0.4) 100%),
        url("../images/layout/header-bg.png")
    );
    @include box-shadow(0 0 6px 1px rgba(0,0,0,0.2));

    &, h1, h2, h3
    {
        color: #e9e9e9;
    }

    ul
    {
        width: 75%;

        li
        {
            margin: 0;
            padding: 4px 0;
            display: block;
            color: #adcfce;
            font-size: 10pt;
            font-weight: 400;

            &:not(:first-child)
            {
                border-top: 1px solid rgba(255,255,255,0.1);
            }

            &:not(:last-child)
            {
                border-bottom: 1px solid rgba(0,0,0,0.3);
            }
        }
    }
}
