@mixin gradient($color1, $color2, $angle: top)
{
    @include background-image(linear-gradient($angle, $color1, $color2));
}

/* Font Icons */
%icns
{
    &:before
    {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@mixin icon($char, $color: '', $size: '')
{
    @extend %icns;
    &:before
    {
        content: '#{$char} ';
        @if $color != ''
        {
            color: $color;
        }
        @if $size != ''
        {
            font-size: $size;
        }
        @content;
    }
}
