@mixin gradient($color1, $color2, $angle: top)
{
    @include background-image(linear-gradient($angle, $color1, $color2));
}

/* Font Icons */
%icns
{
    &:before
    {
        display: inline-block;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

@mixin icon($char, $color: '', $size: '')
{
    @extend %icns;
    &:before
    {
        content: '#{$char} ';
        @if $color != ''
        {
            color: $color;
        }
        @if $size != ''
        {
            font-size: $size;
        }
        @content;
    }
}

/* Links */

@mixin link($color, $color-hover)
{
    @include transition(color 0.2s ease-in-out, border 0.3s ease-in-out);
    color: $color;
    text-decoration: none;
    border-bottom: 1px solid fade-out($color-hover, 1);

    &:hover
    {
        color: $color-hover;
        border-bottom: 1px solid fade-out($color-hover, 0.4);
    }
}

/* Class Helpers */

/* Clearfix by - http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
