---
sidebar: blog
title: Authors
---

<h1>Authors</h1>

<% data.blog.authors.sort_by { |k,v| v["name"] }.each() do |id,author| %>
<% if author.has_key? "profilePhoto" %>
<a name="<%= author.name.gsub(/[^a-zA-Z]/,'') %>"></a>
<h2><%= author.name %></h2>
<img align="right" src="<%= author.profilePhoto.url %>">
<p>
    <%= author.biography %>
</p>

<hr>
<% end %>
<% end %>