---
title: Customize
layout: default
classNames: sidebar-left
sidebar: resources
description: Find out about the myriad of ways in which Komodo is customizable
priority: 0.6
---

<div class="intro">
    <h1>Customize Komodo</h1>

    <p>
        Komodo is by far the most customizable IDE out there. It is built on top
        of the Mozilla framework, allowing it to be customized in nearly any way you
        wish.
    </p>

    <img src="/assets/images/layout/customizable.png" alt="Komodo is by far the most customizable IDE out there">

    <p>
        <strong>Did you know?</strong><br>
        Komodo is largely made up out of JavaScript,
        CSS and XUL (HTML for the Desktop).
    </p>
</div>

<a name="Tools"></a>
<h2>Tools of the Trade</h2>

<p>
    When customizing Komodo there are 4 tools that are must haves...
</p>

<ul>
    <li>
        <a href="http://komodoide.com/packages/addons/komodo-developer-extension/">
            Komodo Extension Developer 
        </a>
       </br>Use this tool to explore the internals of Komodo using the JS Shell and other tools contained in the addon.
    </li>
    <li>
        <a href="http://komodoide.com/packages/addons/dom-inspector/">
            DOM Inspector
        </a>
        </br>Explore the MarkUp of Komodo just like in any Browser site tool.
    </li>
    <li>
        <a href="http://komodoide.com/packages/addons/element-inspector/">
            Element Inspector
        </a>
        </br>Pinpoint an element in the Komodo UI to see what it's doing.  Just like inspect element in your browser.  Trigger with Shift + Right click
    </li>
    <li>
        <a href="http://komodoide.com/packages/addons/stylish/">
            Stylish
        </a>
        </br>Experiment with different CSS styles using this fast and easy addon.  The addon is compatible with most Mozilla based Programs.
    </li>
</ul>

<a name="addons"></a>
<h2>Addons</h2>

<p>
    You can easily use any of the existing addons available through our site and through the Komodo package installer,
    or you can create your own ..
</p>

<a name="create-addons"></a>
<h3>Create Your Own Addons</h3>

<p>
    To create your own Addons all you really need is some basic knowledge
    in JavaScript. If you want to mess with some UI you'll need to know how XUL
    works, which is basically HTML for Desktop applications and won't take you
    long to wrap your head around.
</p>

<p>
    Here are some links to get you started whilst we flesh out the documentation
    on our new website:
</p>

<ul class="disc">
    <li>
        <a href="http://docs.activestate.com/komodo/latest/extensions.html">
            Komodo Extension Documentation
        </a>
    <li>
        <a href="http://community.activestate.com/faq/tools-developing-komodo-add-ons-extensions" target="_blank">
            Tools for Developing Komodo Add-Ons
        </a>
    </li>
    <li>
        <a href="http://community.activestate.com/many-ways-extending-komodo" target="_blank">
            The Many Ways of Extending Komodo
        </a>
        (slightly out of date)
    </li>
    <li>
        <a href="http://community.activestate.com/forum/introduction-building-komodo-extension" target="_blank">
            Introduction to Building a Komodo Extension
        </a>
        (slightly out of date)
    </li>
    <li>
        <a href="https://developer.mozilla.org/en-US/docs/Building_an_Extension" target="_blank">
            Building a Mozilla Extension
        </a>
    </li>
</ul>

<hr>
<small><a href="#top" class="push-right">Back to Top</a></small>

<a name="macros"></a>
<h2>Macros</h2>

<p>
    Macros are essentially just JavaScript snippets that automate how you work
    with Komodo by utilising the Komodo API.
</p>

<p>
    There are multiple ways to create macros. You can;
</p>
<ul class="disc">
    <li>
        <a href="http://docs.komodoide.com/Manual/macros#macros-and-userscripts_creating-macros_writing-userscripts">
            Write your own Macros
        </a>
        via the toolbox
    </li>
    <li>
        <a href="http://community.activestate.com/forums/komodo/komodo-macros-and-extensions">
            Find Macros
        </a>
        that were shared by the community
    </li>
    <li>
        <a href="http://docs.komodoide.com/Manual/macros#macros-and-userscripts_creating-macros_recording-macros">
            Record a Macro
        </a>
        right from inside Komodo
    </li>
</ul>

<p>
    For more information about Macros and Userscripts and how they work, please check the
    <a href="http://docs.komodoide.com/Manual/macros">
        documentation
    </a>.
</p>

<hr>
<small><a href="#top" class="push-right">Back to Top</a></small>

<a name="contributing"></a>
<h2>Contributing</h2>

<p>
    Interested in contributing? You rock! There are several ways that you can
    help out the Komodo project.
</p>

<div class="contributing">
    <div>
        <a name="documentation"></a>
        <h3><i class="icon icon-question-circle"></i> Documentation</h3>

        <p>
            Writing documentation is a big part of any software project. We plan to put
            a lot of focus on this with the new website. As it stands the documentation
            is still at it's <a href="http://docs.activestate.com/komodo">old location</a>,
            but we've already started moving the source to github.
        </p>

        <p>
            To contribute to our documentation you can fork the
            <a href="https://github.com/Komodo/komodo-documentation">
                komodo-documentation repository
            </a>
            and start submitting
            <a href="https://help.github.com/articles/creating-a-pull-request">pull requests</a>
            .
        </p>

        <a name="report-bugs"></a>
        <h3><i class="icon icon-bug"></i> Reporting Bugs</h3>

        <p>
            The most obvious way to help any software project is to
            <a href="https://github.com/Komodo/KomodoEdit/issues/new" target="_blank">report bugs</a>.
        </p>

        <p>
            If you really want to help out with this we'd encourage you to try our
            <a href="http://downloads.activestate.com/Komodo/nightly/">
            nightly builds</a> and help us catch bugs early.
        </p>
    </div>
    <div>
        <a name="solve-bugs"></a>
        <h3><i class="icon icon-check-circle"></i> Solving Bugs</h3>

        <p>
            Want to get your hands dirty? You can
            <a href="https://github.com/Komodo/KomodoEdit/issues/" target="_blank">
                search for open bugs on our Bug Tracker
            </a>.
        </p>

        <p>
            To be able to fix a bug you'll need to get your own build of Komodo Edit
            running, you can
            <a href="https://github.com/Komodo/KomodoEdit">
                obtain the source and instructions from our GitHub repository
            </a>.
        </p>

        <p>
            To avoid working on a bug that is already being worked on by someone else,
            please express your intend in the bug report before starting.
        </p>

        <a name="implement"></a>
        <h3><i class="icon icon-puzzle-piece"></i> Implementing Features</h3>

        <p>
            Just like with bugs, you can
            <a href="https://github.com/Komodo/KomodoEdit/issues?q=is%3Aopen+is%3Aissue+label%3AEnhancement" target="_blank">
                search our Bug Tracker
            </a>
            for open Enhancement requests.
        </p>
        <p>
            If you have your own idea for a feature that you would like to implement
            that you think should be part of the core Komodo experience, please
            <a href="https://github.com/Komodo/KomodoEdit/issues/new">
            file an enhancement request</a> for it and express your intend to implement it.
        </p>
    </div>

</div>

<hr>
<small><a href="#top" class="push-right">Back to Top</a></small>

<a name="help"></a>
<h2>Need Help?</h2>

<p>
    Got stuck somewhere? There are several ways to get into contact with the devs
    and the community:
</p>

<ul class="disc">
    <li>
        <a href="http://kiwiirc.com/client/irc.mozilla.org/komodo?nick=komodo_visitor">Join us on IRC</a>
        - #Komodo on irc.mozilla.org
    </li>
    <li>
        <a href="http://forum.komodoide.com/">
            Post your question on the Forums
        </a>
    </li>
    <li>
        <a href="http://stackoverflow.com/questions/tagged/komodo">
            Ask on StackOverflow
        </a>
    </li>
</ul>
