---
title: Komodo Edit
layout: default
description: Komodo Edit is the Free and Open-Source counterpart of Komodo IDE.
socialDescription: Komodo Edit
priority: 0.8
---

<h1>Komodo Edit</h1>
<p>
    Komodo Edit is the <u><em>free</em></u> and
    <a href="https://github.com/Komodo/KomodoEdit">Open-Source</a> counterpart
    of <strong><a href="/">Komodo IDE</a></strong>.
</p>

<div id="splash">
    <div id="screenshot">
        <img src="/assets/images/screenshots/splash/edit-vs-ide.png">
    </div>
    <div id="buttons">
        <div id="edit-button">
            <div class="text">
                <p>
                    Looking for a powerful editor without all the advanced
                    functionality an IDE comes with?<br/>
                    Komodo Edit is for you
                </p>
            </div>
            <a class="button big" href="/download#edit">
                Download Edit
            </a>
            <strong>&nbsp;</strong>
        </div>
        <div id="ide-button">
            <div class="text">
                <div class="inner">
                    <p>
                        Do you need..
                    </p>
                    <ul>
                        <li>Debugging</li>
                        <li>Unit Testing</li>
                        <li>Collaboration</li>
                        <li><a href="#comparison">And much more ..</a></li>
                    </ul>
                    <p>Komodo IDE is for you</p>
                </div>
            </div>
            <a class="button primary big" href="/download">
                <i class="icon icon-download"></i> Try Komodo IDE
            </a>
            <strong>Most Popular</strong>
        </div>
    </div>
</div>

<div class="comparison">

    <a name="comparison"></a>
    <h2>Comparison</h2>
    <a href="/features">View complete list of Features</a>
    <table>
      <thead>
        <tr>
          <th>Feature</th>
          <th>Komodo Edit</th>
          <th>Komodo IDE</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Multi-Language Editor</td>
          <td>✓</td>
          <td>✓</td>
        </tr>
        <tr>
            <td>Track Changes</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Commando</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Markdown Viewer</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td><a href="http://kopy.io/">Kopy.io</a> Integration</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Chrome Debugging <span class="badge">NEW</span></td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Gulp, Grunt, NPM Integration <span class="badge">NEW</span></td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>PhoneGap & Cordova Integration <span class="badge">NEW</span></td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Symbol Browser <span class="badge">NEW</span></td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Documentation Tool</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Run In-Line Tool</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Package Manager Integration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Docker Integration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Vagrant Integration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Shell Scope</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Custom Workspaces</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Track Changes with VCS</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
          <td>Auto-complete &amp; Calltips</td>
          <td>✓</td>
          <td>✓</td>
        </tr>
        <tr>
            <td>Multiple Selections</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Toolbox</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Projects &amp; Places Manager</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Skins & Icon Sets</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Minimap</td>
            <td>✓</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Code Refactoring</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Sections List</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Code Browser</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>DOM Viewer</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Debugging</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Rx (Regular Expression) Toolkit</td>
             <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>HTTP Inspector</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Source Code Control Integration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Unit Testing</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Code Profiling</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Database Explorer (MySQL, Oracle, etc.)</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Interactive Shells (Python, Perl, Ruby, Tcl)</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Perl Dev Kit/Tcl Dev Kit Integration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Publishing</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Synchronize Multiple Workstations</td>
             <td>&nbsp;</td>
            <td>✓</td>
        </tr>
        <tr>
            <td>Real-Time Code Collaboration</td>
            <td>&nbsp;</td>
            <td>✓</td>
        </tr>


      </tbody>
    </table>
</div>

