---
title: Komodo Edit
layout: default
description: Komodo Edit is the Free and Open-Source counterpart of Komodo IDE.
socialDescription: Check out Komodo Edit! A powerful editor for programmers & the younger brother of @KomodoIDE!
priority: 0.8
---

<div class="try-buy-buttons global">
    <div class="inner">
        <a class="button primary" href="/download">
            <i class="icon icon-download"></i> Try Komodo IDE
        </a>
        <a class="button <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
            <i class="icon icon-shopping-cart"></i> Buy Komodo IDE
            <% if data.promotions.buttons.enabled %>
                <div class="promotion badge">
                    ON SALE
                </div>
            <% end %>
        </a>
    </div>
</div>

<h1>Komodo Edit</h1>
<p>
    Komodo Edit is the <u><em>free</em></u> and
    <a href="https://github.com/Komodo/KomodoEdit">Open-Source</a> counterpart
    of <strong><a href="/">Komodo IDE</a></strong>.<br>
    Looking for a powerful editor without all the advanced functionality an
    IDE comes with? Komodo Edit is for you.
</p>

<img src="/images/layout/komodo-edit.png">

<p>
    <a class="button primary big" href="/download#edit">
        <i class="icon icon-download"></i> Download
    </a>
</p>
<h2>
    or <a href="/">try Komodo IDE for extra functionality</a>
</h2>

<div class="details">

    <div class="comparison">

        <a name="comparison"></a>
        <h2>Comparison</h2>
        <a href="/features">View complete list of Features</a>
        <table>
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Komodo Edit</th>
              <th>Komodo IDE</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th>Multi-Language Editor</th>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
              <th>Auto-complete &amp; Calltips</th>
              <td>✓</td>
              <td>✓</td>
            </tr>
            <tr>
                <th>Toolbox</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Projects &amp; Places Manager</th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Multiple Selections <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Skins (Abyss) & Icon Sets <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Breadcrumbs <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Open Files pane <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Minimap <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Smart Snippets <span class="badge">NEW</span></th>
                <td>✓</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Code Refactoring <span class="badge">NEW</span></th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Sections List</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Code Browser</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>DOM Viewer</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Debugging</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Rx (Regular Expression) Toolkit</th>
                 <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>HTTP Inspector</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Source Code Control Integration</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Unit Testing</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Code Profiling</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Database Explorer (MySQL, Oracle, etc.)</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Interactive Shells (Python, Perl, Ruby, Tcl)</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Perl Dev Kit/Tcl Dev Kit Integration</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Publishing</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Stackato Platform-as-a-Service Integration</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Synchronize Multiple Workstations</th>
                 <td>&nbsp;</td>
                <td>✓</td>
            </tr>
            <tr>
                <th>Real-Time Code Collaboration</th>
                <td>&nbsp;</td>
                <td>✓</td>
            </tr>


          </tbody>
        </table>
    </div>

    <div class="opensource">
        <div class="github-repositories">
            <h2><i class="icon icon-github"></i> Repositories</h2>
            <h3><a target="_blank" href="https://github.com/Komodo/KomodoEdit">KomodoEdit</a></h3>
            <p>Komodo Edit a free, fast and multi-language code editor</p>

            <h3><a target="_blank" href="https://github.com/Komodo/komodo-website">komodo-website</a></h3>
            <p>The new Komodo website - Currently still under heavy construction</p>

            <h3><a target="_blank" href="https://github.com/Komodo/Abyss-Skin">Abyss-Skin</a></h3>
            <p>A dark skin for Komodo Edit/IDE</p>

            <h3><a target="_blank" href="https://github.com/Komodo/Classic-Skin">Classic-Skin</a></h3>
            <p>Classic skin for Komodo, uses as much native OS styling as possible (so nothing too fancy).</p>

            <p>
                <a target="_blank" href="https://github.com/Komodo">
                    <h3>View More</h3>
                </a>
            </p>
        </div>


        <div class="github-commits-wrap">
            <h2><i class="icon icon-github"></i> Commits</h2>
            <div class="github-commits" data-gh-amount="20">
                Loading ...
            </div>
            <p>
                <a target="_blank" href="https://github.com/Komodo/KomodoEdit/commits/master">
                    <h3>View More</h3>
                </a>
            </p>
        </div>
    </div>

</div>
