---
title: Komodo IDE for Web Development
description: Komodo is a full featured PHP IDE that supports major web technologies including HTML5, CSS, JavaScript, NodeJS and more.
socialDescription: Komodo IDE for Web Development
dontNormalize: true
priority: 0.9
classNames: no-grid fullscreen-splash
disableFooter: true
---

<div id="splash-header-outer">
    <div id="splash-header">
        
        <div class="assistance">
            <div class="inner">
                <div id="lpButDivID-1279824964197"></div>
            </div>
        </div>
    
        <h1>Komodo: The Best Web IDE</h1>
        <div id="splash-description">
            <p>
                Komodo is a full featured Web Development IDE that supports major web technologies including:
            </p>
                
            <div class="quick-features">
                <ul class="disc">
                    <li>JavaScript</li>
                    <li>HTML5</li>
                    <li>CSS</li>
                    <li>Node.js</li>
                    <li>NPM</li>
                    <li>Bower</li>
                    <li>jQuery, YUI, dojo, ...</li>
                    <li>PHP, Ruby, Python, ...</li>
                </ul>
                <ul class="disc">
                    <li>Laravel (Blade)</li>
                    <li>Drupal</li>
                    <li>Zend Framework</li>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>Mozilla/Firefox</li>
                    <li>Markdown</li>
                    <li>...</li>
                </ul>
                <ul class="disc">
                    <li><strong>Coming Soon:</strong></li>
                    <li>Angular JS</li>
                    <li>React</li>
                    <li>Ember</li>
                    <li>Grunt</li>
                    <li>Gulp</li>
                    <li>PhoneGap</li>
                    <li>...</li>
                </ul>
            </div>
            
        </div>
    
        <!--
        <div id="splash-download-wrap">
            <div id="splash-download-buttons">
                <a class="button primary big" href="/download">
                    <i class="icon icon-download"></i> Try Now
                    <p>21 day fully functional trial</p>
                </a>
                <a class="button big <%= 'promoted' if data.promotions.buttons.enabled %>" href="/pricing">
                    <i class="icon icon-shopping-cart"></i> Buy Now
                    <p>Choose the right license for you</p>
                    <% if data.promotions.buttons.enabled %>
                        <div class="promotion badge">
                            ON SALE
                        </div>
                    <% end %>
                </a>
            </div>
        </div>
        -->
    
        <div id="splash-screenshots">
            
            <div id="screenshots-inner-box">
                <h2>Komodo 10 is coming soon!</h2>
                <p>
                    Making it even easier for web, mobile and app developers to
                    experience their favourite frameworks, languages and tools
                </p>
                
                <div id="splash-download-wrap">
                    <div id="splash-download-buttons">
                        <a class="button primary big" href="#beta-signup" data-modal>
                            Sign up for our Beta
                            <p>be the first to get notified</p>
                        </a>
                    </div>
                </div>
                
            </div>
            
            <!--
            <div class="beta-sign-up">
                <a class="button primary big" href="/download">
                    Sign up for the Beta
                </a>
            </div>
        -->
            <figure class="splash-windows secondary">
                <a href="#beta-signup" data-modal class="splash-ko10-tease"></a>
            </figure>
            <figure class="splash-osx primary">
                <a href="#beta-signup" data-modal class="splash-ko10-tease"></a>
            </figure>
            <figure class="splash-linux tertiary">
                <a href="#beta-signup" data-modal class="splash-ko10-tease"></a>
            </figure>
        </div>
    </div>
</div>

<div id="beta-signup" title="Beta Signup" class="hide" data-modal>
    <p>
        Sign up for the Komodo 10 beta and be the first to be notified when it is available.
    </p>
    <script src="//app-sjg.marketo.com/js/forms2/js/forms2.min.js"></script>
    <form id="mktoForm_1298"></form>
    <script>MktoForms2.loadForm("//app-sjg.marketo.com", "894-ACS-622", 1298);</script>
</div>

<!-- LivePerson -->
<!-- <script type="text/javascript" charset="UTF-8" src="https://server.iad.liveperson.net/hc/88203588/?cmd=mTagRepstate&site=88203588&buttonID=12&divID=lpButDivID-1279824964197&bt=1&c=1"></script> -->